body {
    background-color: #000015;
}
h1 {
  text-align: center;
}

#quickmenu {
    text-align: center;
    justify-content: center;
    margin: auto;
}

#content, #homebutton{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    max-width: 600px;
    font-family: Arial;
    background-color: #eae8ff;
}

.container1-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container2-flex {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.bigbutton {
    margin: auto;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 5px outset #eeeeee;
    background-color: #cccccc;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    box-shadow: 5px 5px #333333;
}

.bigbutton a {
  margin: auto;
  vertical-align: middle;
}

.bb-green {
    border: 5px outset #eeffee;
    background-color: #ccffcc;
}

.bb-yellow {
    border: 5px outset #ffffee;
    background-color: #ffffcc;
}

.bb-blue {
    border: 5px outset #eeeeff;
    background-color: #ccccff;
}

.bb-red {
    border: 5px outset #ffeeee;
    background-color: #ffcccc;
}

.bigbutton:hover {
    border: 5px outset #eeeeee;
    background-color: #ffffff;
}

.user {
   background-color: #cccccc;
   border: 1px solid #000000;
   border-radius: 5px;
   overflow-x:auto;
}
