  :root {
    --color-red: #bf0000;
    --color-brown: #802000;
    --color-orange: #ff4000;
    --color-gold: #fa0;
    --color-yellow: #ffbf00;
    --color-green: #00bf00;
    --color-cyan: #009fbf;
    --color-blue: #0040bf;
    --color-purple: #bf00ff;
    --color-pink: #ff4080;
    --dark-gray: #555;

    --light-red: #ff6860;
    --light-brown: #bf6040;
    --light-orange: #ffaf60;
    --light-yellow: #ffdf80;
    --light-green: #80ff80;
    --light-cyan: #80ffff;
    --ice-blue: #bfcfff;
    --light-blue: #8f9bbf;
    --light-purple: #df80ff;
    --light-pink: #ff80bfff;
    --light-gray: #ccc;

    --bg-dark: #303234;
    --bg-darker: #202123;
    --bg-dark-highlight: #404345;
    --bg-dark-red: #400;
    --bg-dark-yellow: #430;
    --bg-dark-green: #243;
    --bg-dark-blue: #000922;
    --bg-dark-purple: #423;
  }
