#tabcontainer {
  background-color: gray;
  border-radius: 5px;
  border: solid black 2px;
  padding: 5px;
}

.tab {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.entry {
}

.entrylink {
  color: black;
  border-radius: 5px;
  border: solid black 2px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.entrylink:hover {
  background-color: white;
}

.-green {
    background-color: #ccffcc;
}

.-yellow {
    background-color: #ffffcc;
}

.-blue {
    background-color: #ccccff;
}

.-red {
    background-color: #ffcccc;
}
