{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Poopy Checkers{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style media="screen">
    .hbar {
      background: var(--dark-gray);
      width: 560px;
      height: fit-content;
      border: 0.2em solid var(--light-blue);
      padding: 8px;
      box-sizing: border-box;
      text-align: center;
      margin: 20px;
    }

    .uname {
      font-size: 1.5em;
      color: var(--light-cyan);
    }

    .board {
      width: 12.2em;
      height: 12.2em;
      display: grid;
      grid-template-columns: repeat(3, 4em);
      grid-template-rows: repeat(3, 4em);
      padding: 0.1em;
      gap: 0.1em;
      font-size: 2em;
      margin: 40px auto 20px;
      background: var(--light-blue);
    }

    .square {
      font-size: 2em;
      box-sizing: border-box;
      display: inline-block;
      background: var(--bg-darker);
    }

    img {
      height: 75%;
      width: 75%;
      margin: 12.5%;
    }

    button {
      position: absolute;
      right: 35em;
    }
  </style>
{% endblock %}

{% block color %}green{% endblock %}

<!-- Extra javascript here -->
{% block script %}
  <script>
    {
      console.log({{game|safe}});
      let gameState = {{game|safe}};
      console.log(gameState);
      const player1 = {
        name: gameState.players[0],
        turn: true,
        shape: 'X',
      }
      const player2 = {
        name: gameState.players[1],
        turn: false,
        shape: 'O',
      }

      let me;
      let opponent;
      if ("{{ username }}" == player1.name) {
        me = "player1";
        opponent = "player2";
      } else {
        me = "player2";
        opponent = "player1";
      }

      document.getElementById("title").innerHTML = "PoopyCheckers: " + player1.name + " (" + player1.shape + ") vs " + player2.name + " (" + player2.shape + ")"

      let gameboard = [
        ["none", "none", "none"],
        ["none", "none", "none"],
        ["none", "none", "none"]
      ];

      let player;

      //Place squares
      for (let i = 0; i < 9; i++) {
        const id = i;
        let square = document.createElement("div");
        square.classList.add("square");
        square.id = id;
        // let id = document.getElementById(i + 1)
        square.addEventListener('click', () => {
          chatSocket.emit("ttt", JSON.stringify(
            packMSG(eval(opponent).name, eval(me).name, {square: id}
          )));
        }, false);

        let board = document.getElementById("board");
        board.appendChild(square);
      }

      function move(square, playerTurn) {

        if (playerTurn == "player1") {
          if (!player1.turn) {
            console.log(player1.name + ' tried to play ' + player1.shape + ' in square ' + square + ' when it wasn\'t their turn');
            return;
          }
        } else if (playerTurn == "player2") {
          if (!player2.turn) {
            console.log(player2.name + ' tried to play ' + player2.shape + ' in square ' + square + ' when it wasn\'t their turn');
            return;
          }
        }



        //Check that the space is avaliable
        let rBox = Math.floor(square / 3);
        let cBox = square % 3;

        if (gameboard[rBox][cBox] == "none") {
          if (player1.turn) {
            player = player1;
            player1.turn = false;
            player2.turn = true;




          } else if (player2.turn) {
            player = player2;
            player1.turn = true;
            player2.turn = false;


          }

          if (player.shape == "X") {
            let x = document.createElement("img");
            x.setAttribute("src", "{{ url_for('static', filename='img/ttt/X.png') }}");

            document.getElementById(square).appendChild(x);
          } else if (player.shape == "O") {
            let o = document.createElement("img");
            o.setAttribute("src", "{{ url_for('static', filename='img/ttt/O.png') }}");

            document.getElementById(square).appendChild(o);
          }

          gameboard[rBox][cBox] = player.shape;
          console.log(player.name + ' has played ' + player.shape + ' in square ' + square);

          //Check if they won
          if (checkWin()) {
            console.log(player.name + ' has won with ' + player.shape + ' on board ' + gameboard);
            setTimeout(function() {
              alert(player.name + "(" + player.shape + ")" + " has won");
            }, 1)
          }
        } else {
          console.log(player.name + ' tried to play ' + player.shape + ' in square ' + square + ' when it wasn\'t empty');
        }



      }

      function checkWin() {
        let counter = [0, 0, 0, 0]
        //rows
        for (let r = 0; r < 3; r++) {
          //columns
          for (let c = 0; c < 3; c++) {
            if (gameboard[r][c] == player.shape) counter[0]++;
            if (gameboard[c][r] == player.shape) counter[1]++;
            if (gameboard[c][c] == player.shape) counter[2]++;
            if (gameboard[2 - c][c] == player.shape) counter[3]++;
          }
          console.log(counter);
          if (counter.includes(9)) return true;
        }
      }
      //MR Smith land
      function packMSG(rx, tx, content) {
        let msgOUT = {
          to: rx,
          from: tx,
          content: content
        }
        return msgOUT;
      }

      //YOUR USERNAME BE LIKE:
      let username = "{{ username }}";

      //SEND YOUR MESSAGES TO EVERYBODY ON THE FREAKING PLANET
      let receiver = 'all';

      //WHEN THE CONNECTION OPENS
      //ws.onopen = function() {};

      //WHEN THERE IS A MESSAGE
      chatSocket.on("ttt", message => {
        //MAKE THE MESSAGE INFO READABLE YO, IM FORKING ILLITERATE
        let data = JSON.parse(message);

        //THE MESSAGE SENDER
        let messageSender = data.from;

        //IF THE SENDER IS THE PERSON YOU ARE IN A LOBBY WITH
        if (messageSender == eval(opponent).name) {
          //ALTER YOUR BOARD
          move(data.content.square, opponent);
        } else if (messageSender == eval(me).name) {
          //ALTER YOUR BOARD
          move(data.content.square, me);
        }
      });
    }
  </script>
{% endblock %}

<!-- Main content here -->
{% block main %}
  <div class="hbar">
    <div class="uname" id="title">PoopyCheckers: Unknown (?) vs Unknown (?)</div>
  </div>
  <div class="board" id="board">
  </div>
{% endblock %}
