:root {
  --background-color: #333;
  --bg-highlight-color: #444;
  --bg-green-color: #243;
  --bg-purple-color: #423;
  --main-color: #bfbfff;
  --alt-color: #8f8fbf;
  --green-color: #80ffbf;
  --purple-color: #ff80bf;
  --gray-color: #aaa;
}

body {
  background: var(--background-color);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px var(--main-color);
  border: solid 5px transparent;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px 5px white;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 15px 15px white;
  border: none;
}

::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 5px 5px white;
  border: solid 5px transparent;
}

.popupBox {
  position: fixed;
  z-index: 3;
  overflow: auto;
  background: var(--bg-highlight-color);
}

#contentChat {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 340px);
  height: calc(100% - 90px);
  padding: 0 10px;
  overflow: auto;
  word-wrap: break-word;
}

.message {
  padding: 10px;
  margin: 10px 0;
}

.msgHeading {
  white-space: nowrap;
}

.avatar {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
  vertical-align: top;
}

.msgText {
  display: inline-block;
}

.date {
  color: var(--alt-color);
  margin-right: 5px;
}

.alert {
  color: var(--alt-color);
  margin-left: 10px;
  padding: 0;
}

.error {
  color: red;
  display: block;
  margin: 10px 0;
}

#userList {
  width: 300px;
  height: calc(100% - 110px);
  background: #222;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: -1;
}

#ulHeading {
  display: inline-block;
  margin-bottom: 5px;
  color: white;
}

#inputBar {
  background: #333;
  border-top: 1px solid #bfbfff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}

#input {
  width: 75%;
  background: #222;
  color: white;
  outline: none;
  resize: none;
  border: 1px solid var(--main-color);
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}

#input:focus {
  outline: 1px solid var(--main-color);
}

#input::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px var(--main-color);
  border: solid 5px transparent;
}

#input::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px 5px white;
}

#input::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 15px 15px white;
  border: none;
}

#sendButton {
  width: 100px;
  height: 46px;
  border-radius: 12.5px;
  margin-left: 10px;
  background: var(--background-color);
  color: var(--main-color);
  border: 1px solid;
  font: 29px "Segoe UI", sans-serif;
  vertical-align: top;
  cursor: pointer;
  outline: none;
}

#sendButton:hover, #sendButton:focus {
  background: var(--main-color);
  color: var(--background-color);
}

#sendButton:active {
  background: white;
}

a {
  color: var(--main-color);
}

a:visited {
  color: var(--alt-color);
}

a:active {
  color: white;
}

h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 24px;
}

h2 {
  margin: 0;
  color: var(--main-color);
  font-size: 20px;
}
