{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Chat{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  body, #content {
    background-color: var(--bg-dark);
    color: white;
    font: 16px "Segoe UI", sans-serif;
  }

  ::selection {
    background: var(--ice-blue);
    color: var(--bg-dark);
  }

  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px 5px var(--ice-blue);
    border: solid 5px transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px 5px white;
  }

  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 15px 15px white;
    border: none;
  }

  ::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 5px 5px white;
    border: solid 5px transparent;
  }

  #outputBox {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 300px);
    height: calc(100% - 130px); /*Subtract height of controlChat*/
    box-sizing: border-box;
    padding: 0 10px;
    overflow: auto;
  }

  .msg {
    padding: 5px;
    margin: 10px 0;
  }

  .them .username {
    color: var(--ice-blue);
    cursor: pointer;
  }

  .msg.whisper {
    background-color: var(--bg-dark-purple);
  }

  .me {
    background-color: var(--bg-dark-highlight);
  }

  .date {
    color: var(--light-blue);
    margin-right: 5px;
  }

  .alert .content {
    font-style: italic;
    color: var(--ice-blue);
  }

  #userlist {
    width: 300px;
    box-sizing: border-box;
    height: calc(100% - 130px);
    background-color: var(--bg-darker);
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
  }

  #ulHeading {
    display: inline-block;
    margin-bottom: 5px;
    color: white;
  }

  .ulName {
    margin: 8px 0;
    padding: 3px;
  }

  .ulName.them {
    cursor: pointer;
  }

  .ulName.them:hover {
    background-color: var(--ice-blue);
    color: var(--bg-dark);
  }

  #controlChat {
    background-color: var(--bg-dark);
    border-top: 1px solid var(--ice-blue);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
  }

  #removeRec {
    display: none;
    margin-left: 8px;
    color: var(--light-gray);
    cursor: pointer;
  }

  #removeRec:hover {
    color: white;
  }

  #input {
    width: 75%;
    height: 32px;
    box-sizing: border-box;
    background-color: var(--bg-darker);
    color: white;
    resize: none;
    border: 1px solid var(--ice-blue);
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
  }

  #input:focus {
    outline: 1px solid var(--ice-blue);
  }

  #input::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px 5px var(--ice-blue);
    border: solid 5px transparent;
  }

  #input::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px 5px white;
  }

  #input::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 15px 15px white;
    border: none;
  }

  #sendButton, button {
    box-sizing: border-box;
    background-color: var(--bg-dark);
    color: var(--ice-blue);
    border: 1px solid var(--ice-blue);
    cursor: pointer;
  }

  #sendButton {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    margin: 0 0 0 5px;
    font: 20px "Segoe UI", sans-serif;
    vertical-align: top;
    transition-duration: 0.2s;
  }

  button {
    margin-top: 5px;
    border-radius: 5.5px;
    font: 14px "Segoe UI", sans-serif;
  }

  #sendButton:hover, #sendButton:focus, button:hover, button:focus {
    background-color: var(--ice-blue);
    color: var(--bg-dark);
    outline: none;
  }

  #sendButton:active, button:active {
    background-color: white;
    border-color: white;
    color: var(--bg-dark);
  }

  #sendButton:active {
    transform: translateX(4px);
  }

  #sendButton.rec {
    color: var(--light-purple);
    border-color: var(--light-purple);
  }

  #sendButton.rec:hover, #sendButton.rec:focus {
    background-color: var(--light-purple);
    color: var(--bg-dark);
  }

  #sendButton.rec:active {
    background-color: white;
    border-color: white;
    color: var(--bg-dark);
  }

  a {
    color: var(--ice-blue);
  }

  a:visited {
    color: var(--light-blue);
  }

  a:active {
    color: white;
  }

  h1 {
    margin: 0;
    color: var(--ice-blue);
    font-size: 24px;
  }

  h2 {
    margin: 0;
    color: var(--ice-blue);
    font-size: 20px;
  }

  select {
    box-sizing: border-box;
    background-color: var(--bg-darker);
    color: white;
    border: 1px var(--ice-blue) solid;
    font: 14px "Segoe UI", sans-serif;
  }

  .game #outputBox {
    width: 100%;
    height: calc(100% - 115px);
  }

  .game #userlist, .game #recContainer, .game #commands {
    display: none;
  }

  .game #input, .game #sendButton {
    width: calc(100% - 40px);
  }

  .game #sendButton {
    display: block;
    margin: 10px 0 0 0;
  }

  .game #sendButton:active {
    transform: none;
  }

  #quickmenu {
    display: none;
  }

  #content {
    background-color: transparent;
  }
</style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
{% endblock %}

<!-- Main content here -->
{% block main %}
<div id="container-full-width">
    <div id="outputBox"></div>
    <div id="userlist">
      <h2 id="ulHeading">Online</h2>
    </div>
</div>
<div id="controlChat">
    <div id="recContainer" style="font-size: 14px; margin-bottom: 5px;">To <span id="recipient">all</span><span id="removeRec" onclick="removeRec()" title="Reset recipients to all">✕</span></div>
    <form onsubmit="event.preventDefault(); onSubmit(); return false;" style="margin: 0;">
        <input id="input" placeholder="Enter a message" autocomplete="off">
        <input type="submit" value="Send" id="sendButton">
    </form>
    <div id="commands" style="font-size: 14px; margin-top: 5px;">Commands: <button onclick="enterCommand('!#help')">!#help</button></div>
</div>
<script type="text/javascript">
    // Connect to Web Socket
    ws = new WebSocket("ws://{{ serverIp }}:9001");
    var username = "{{ username }}";
    var receiver = 'all';

    //When the connection opens.
    ws.onopen = function() {};

    ws.onmessage = function(message) {
        let data = JSON.parse(message.data);
        if (data.type == 'message' || data.type == 'alert') {
            console.log(data);
            output(data);
        } else if (data.type == 'userlist') {
            boxes.userlist.innerHTML = '<h2 id="ulHeading">Online</h2>'
            for (user in data.content) {
                let newUser = document.createElement('div')
                newUser.classList.add('msg', 'ulName')
                if (data.content[user].name == username) newUser.classList.add('me')
                else {
                  newUser.classList.add('them')
                  newUser.setAttribute("onclick", "changeRec('" + data.content[user].name + "', this)");
                  newUser.title = "Send a private message";
                }
                newUser.appendChild(document.createTextNode(data.content[user].name))
                boxes.userlist.appendChild(newUser);
            }
        }
    };

    //When the connection closes
    ws.onclose = function() {
        output({
            from: 'server',
            content: 'Disconnected...'
        });
    };

    //When there is an error
    ws.onerror = function(e) {
        output({
            from: 'server',
            content: 'Critical Error. See console...'
        });
        console.log(e)
    };

    var boxes = {
        outputBox: document.getElementById('outputBox'),
        inputBox: document.getElementById("input"),
        userlist: document.getElementById("userlist"),
        sendButton: document.getElementById("sendButton"),
        recBox: document.getElementById("recipient")
    }

    function packMSG(type, rx, tx, content) {
        let msgOUT = {
            type: type,
            to: rx,
            from: tx,
            content: content
        }
        return msgOUT
    }

    function changeRec(name, el) {
          receiver = name;
          boxes.recBox.innerHTML = receiver;
          boxes.recBox.style.color = "var(--light-purple)";
          boxes.sendButton.classList.add("rec");
          //sendButton.value = "Send to " + receiver;
          //el.classList.add('whisper');
          document.getElementById("removeRec").style.display = "initial";
    }

    function removeRec() {
        receiver = 'all';
        boxes.recBox.innerHTML = "all";
        boxes.recBox.style.color = "white";
        boxes.sendButton.style.color = "var(--ice-blue)";
        //sendButton.value = "Send";
        //el.classList.remove('whisper');
        document.getElementById("removeRec").style.display = "none";
    }

    function atBottom(ele) {
        var sh = ele.scrollHeight;
        var st = ele.scrollTop;
        var ht = ele.offsetHeight;
        if (ht == 0) {
            return true;
        }
        if (st == sh - ht) {
            return true;
        } else {
            return false;
        }
    }

    function onSubmit() {
        let text = boxes.inputBox.value;
        if (text != "") {
            if (text.startsWith("!#help")) {
                // text.splice(0, 2);
                // args = text.split(" ");
                // args.shift();
                ws.send(JSON.stringify(packMSG('help', receiver, username, text)));
            } else {
                ws.send(JSON.stringify(packMSG('message', receiver, username, text)));
            }
            boxes.inputBox.value = "";
            boxes.inputBox.focus();
        }
    }

    function onCloseClick() {
        ws.close();
    }

    function output(message) {
        let lockBottom = false;
        if (atBottom(boxes.outputBox)) lockBottom = true;
        let newMSG = document.createElement('div')
        newMSG.classList.add('msg')
        if (message.to == username) newMSG.classList.add('whisper')
        if (message.from == username) newMSG.classList.add('me')
        else if (message.from == 'server' || message.type == 'alert') {
          newMSG.classList.add('alert')
          message.from = "";
        }
        else {
          newMSG.classList.add('them')
          var usernameOnclick = `changeRec('${message.from}', this)`;
          var usernameTitle = "Send a private message";
        }

        let date = new Date();
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let year = date.getFullYear().toString().slice(2);
        let hour = date.getHours();
        if (hour > 12) {
          hour -= 12;
          ampm = "PM";
        } else {
          if (hour == 0) hour = 12;
          ampm = "AM";
        }
        let minute = date.getMinutes().toString();
        if (minute.length == 1) minute = "0" + minute;
        //Use this if you want to allow HTML
        newMSG.innerHTML = `<b class="username" onclick="${usernameOnclick}" title="${usernameTitle}">${message.from}</b> <span style="color: var(--light-blue);">${month}/${day}/${year} ${hour}:${minute} ${ampm}</span> <div class="content">${message.content}</div>`;
        //Use this if you want to convert HTML into text
        // newMSG.appendChild(document.createTextNode(message.from + ": " + message.content))
        boxes.outputBox.appendChild(newMSG);
        if (lockBottom) boxes.outputBox.scrollTo(0, boxes.outputBox.scrollHeight);
    }

    function enterCommand(command) {
      boxes.inputBox.value = command;
      boxes.inputBox.focus();
    }

    let urlParams = new URLSearchParams(window.location.search);
    let gamePlayer = urlParams.get("game");
    if (gamePlayer) {
      document.documentElement.classList.add("game");
      changeRec(gamePlayer);
      boxes.sendButton.value += " to " + gamePlayer;
    }
</script>
{% endblock %}
