<html>
    <head>
        <title>Chat</title>
        <script>
            // Create WebSocket connection.
            const socket = new WebSocket('ws://localhost:5001');

            // Connection opened
            socket.addEventListener('open', function (event) {
                socket.send('Hello Server!');
            });

            // Listen for messages
            socket.addEventListener('message', function (event) {
                document.getElementById('outpoot').innerHTML += 'Message from server: ' + event.data;
            });
        </script>
    </head>
    <body>
        <div id='outpoot'>
            
        </div>
    </body>
</html>