{% extends 'header.html' %}

{% block title %}Debugging{% endblock %}
{% block style %}
<style>
  :root {
    --color-red: #bf0000;
    --color-brown: #802000;
    --color-orange: #ff4000;
    --color-gold: #fa0;
    --color-yellow: #ffbf00;
    --color-green: #00bf00;
    --color-cyan: #009fbf;
    --color-blue: #0040bf;
    --color-purple: #bf00ff;
    --color-pink: #ff4080;
    --dark-gray: #555;

    --light-red: #ff6860;
    --light-brown: #bf6040;
    --light-orange: #ffaf60;
    --light-yellow: #ffdf80;
    --light-green: #80ff80;
    --light-cyan: #80ffbf;
    --ice-blue: #bfcfff;
    --light-blue: #8f9bbf;
    --light-purple: #df80ff;
    --light-pink: #ff80bfff;
    --light-gray: #ccc;

    --bg-dark: #303234;
    --bg-darker: #202123;
    --bg-dark-highlight: #404345;
    --bg-dark-purple: #423;
    --bg-dark-green: #423;
    --bg-dark-yellow: #430;
  }
  body {
    background: var(--bg-dark);
    color: white;
    font: 16px "Segoe UI", sans-serif;
  }

  #virtualBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: black;
  }

  #vbText {
    height: 24px;
    width: 119.97px;
    padding: 0 4px;
    box-sizing:
    border-box; border: 1px white;
    border-style: solid solid none;
    font: 20px monospace;
    text-transform: uppercase;
  }

  #pixBox {
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    user-select: none;
  }

  #buttonContainer {
    position: fixed;
    left: 0;
    top: 56px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    background: var(--bg-dark-highlight);
  }

  button {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 8px;
    background: transparent;
    color: var(--light-red);
    border: 1px var(--light-red) solid;
    font: 18px "Segoe UI", sans-serif;
    cursor: pointer;
  }

  button.open, button:hover {
    background: var(--light-red);
    color: var(--bg-dark);
  }

  #data {
    position: absolute;
    left: 0;
    top: 116px;
    width: 100%;
    height: calc(100% - 56px - 60px - 24px);
    box-sizing: border-box;
    padding: 8px;
  }

  #updateBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding: 7px 14px;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--light-red), var(--light-red) 50%, var(--bg-dark-highlight) 50%);
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  	background-size: 200% 200%;
    animation: fillBar 3s linear infinite;
  }

  @keyframes fillBar {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #quickmenu {
    display: none;
  }

  #content {
    background-color: transparent;
  }
</style>
{% endblock %}

{% block main %}
  <div id="virtualBar">
    <div id="vbText"><!--Text goes here--></div>
    <span id="pixBox"></span>
  </div>

  <div id="buttonContainer">
    <button id="/getpix" onclick="request('/getpix')">/getpix</button>
    <button id="/getme" onclick="request('/getme')">/getme</button>
    <button id="/getstudents" onclick="request('/getstudents')">/getstudents</button>
    <button id="/getpermissions" onclick="request('/getpermissions')">/getpermissions</button>
  </div>

  <div id="data"></div>

  <div id="updateBar">Updating in <span id="timeLeft">3</span></div>


  <script>
    let xhr = new XMLHttpRequest();
    let urls = ["/getpix", "/getme", "/getstudents", "/getpermissions"];
    let timeLeft = 3;

    function updateBar() {
      xhr.open("GET", '/getphrase', false);
      xhr.send(null);
      let phraseRes = JSON.parse(xhr.responseText);
      let phrase = phraseRes.phrase;
      let vbText = document.getElementById("vbText");
      vbText.innerText = phrase;
      //To do: update color

      request.open("GET", '/getpix', false);
      request.send(null);
      let pixRes = JSON.parse(request.responseText);
      let pix = eval(pixRes.pixels);
      let pixBox = document.getElementById("pixBox");
      pixBox.innerHTML = '';
      for (let i = pix.length - 1; i >= 0; i--) {
          for (let color = 0; color < pix[i].length; color++) {
              pix[i][color] = pix[i][color].toString(16);
              if (pix[i][color].length < 2)
                  pix[i][color] = "0" + pix[i][color];
          }
          pixBox.innerHTML += "<div style='display: inline; flex-grow: 1; overflow: hidden; background-color: #" + pix[i][0] + "" + pix[i][1] + "" + pix[i][2] + ";'>&nbsp;</div>";
      }

      timeLeft = 3;
    }

    function countdown() {
      document.getElementById("timeLeft").innerHTML = timeLeft--;
    }

    setInterval(updateBar, 3000);
    setInterval(countdown, 1000);
    updateBar();
    countdown();

    function request(newURL) {
      xhr.open('GET', newURL);
      xhr.onload = function() {
          data = xhr.response;
          urls.forEach(url => {
            let el = document.getElementById(url);
            if (url == newUrl) el.classList.remove("open");
            else el.classList.add("open");
          });
          document.getElementById("data").innerText = data;
      };
      xhr.send();
    }

    setTimeout(function() {request(newURL)}, 1000);
    request("/getpix");
  </script>
{% endblock %}
