{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Footnoot{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #content {
    /*Paste this to make a full-screen page*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%; /*For some reason, this only works if max-width is present*/
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
  }
</style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
  <iframe src="https://scratch.mit.edu/projects/290340284/embed" id="game" allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen></iframe>
{% endblock %}
