<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formbar Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="content">
        <h1 style="color: blue">Ask For Help</h1>
        <form action="help" method="post" style="text-align: center;">
            <input type="submit" value="Click to Send a Help Ticket">
        </form>
    </div>
</body>

</html>
