<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plz Send Help</title>
</head>

<body>
  <h1 style="color: blue">HELP PLZ!!!11</h1>
  <p>This is an HTML file served up by Flask</p>
  <form action="help" method="post">
    <h3>Name</h3>
    <input type="text" id="nameBox" name="name" value="">
    <h3>What is your problem?</h3>
    <input type="text" id="problemBox" name="problem" value="">
    <input type="submit" value="Send Settings">
  </form>

</body>

</html>

