<html>
    <head>
        <title>LED Formbar Start</title>
    </head>
    <body>
    <h1>LED Formbar (for classroom Formative Assessment and Management)</h1>
        <table>
            <tr><td>Teachers</td><td>Students</td></tr>
            <tr><td>
                <ul>
                    <li>To see the Virtual bar, go to <a href="/virtualbar">/virtualbar</a></li>
                    <li>To change settings, go to <a href="/settings">/settings</a></li>
                    <li>To view a list of people who have requested help, go to <a href="/needshelp">/needshelp</a></li> 
                </ul>
            </td><td>
                <ul>
                    <li>To see the Virtual bar, go to <a href="/virtualbar">/virtualbar</a></li>
                    <li>To borrow a "Thumbs Panel" to interact with the bar, go to <a href="/tutd">/tutd</a></li>
                    <li>To let the teacher know you need help, go to <a href="/help">/help</a></li>
                    <li>To answer a quiz question, go to <a href="/quiz">/quiz</a></li>
                </ul>
            </td></tr>
        </table>
    </body>
    <script>
    </script>
</html>


