{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Leaderboards{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{{ style|safe }}{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
  <h1>Leaderboards</h1>
  <div id="scores"></div>


  <script>
    function switchGame(game) {
      let request = new XMLHttpRequest();
      request.open("GET", "scores.json");
      request.responseType = 'json';
      request.send();
      request.onload = function() {
        let data = request.response;

        if (Object.keys(data[game]).length) {
          document.getElementById("scores").innerHTML = `
            <table id="table">
              <tr>
                <td>Name</td>
                <td>${game == "fighter" || game == "ttt" ? "Wins" : "Score"}</td>
              </tr>
            </table>
          `;

          let scoresArr = [];
          for (let score in data[game]) scoresArr.push([score, data[game][score]]); //Convert objects to arrays so they can be sorted
          scoresArr.sort((a, b) => b[1] - a[1]); //Sort from largest to smallest

          scoresArr.forEach(score => {
            document.getElementById("table").innerHTML += `
              <tr>
                <td>${score[0]}</td>
                <td>${score[1]}</td>
              </tr>
            `;
          });
        } else {
          document.getElementById("scores").innerText = "No scores for this game yet";
        }
      }
    }

    switchGame("fighter");
  </script>
{% endblock %}
