{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Reset Leaderboards{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{{ style|safe }}{% endblock %}

<!-- Extra javascript here -->
{% block script %}
  <script>
    function resetLeaderboards() {
      let request = new XMLHttpRequest();
      request.open("GET", "scores.json");
      request.responseType = 'json';
      request.send();
      request.onload = function() {
        let scores = request.response;
        for (let game in scores) game = {};
        scores = JSON.stringify(scores);
        //fix this
        fs.writeFile("scores.json", scores, "utf8", () => alert("Leaderboards reset."));
      }
    }
  </script>
{% endblock %}

<!-- Main content here -->
{% block main %}
  This will permanently remove all scores from the leaderboards. To delete individual scores, you'll need to edit scores.json directly.<br>
  <button onclick="resetLeaderboards();">Reset</button>
{% endblock %}
