{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Settings{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style media="screen">
    #perms {
        display: flex;
        justify-content: space-around;
    }
    #studentBox {
        padding: 5px;
        margin: 5px;
    }
    .up {
      background-color: #ccffcc;
    }
    .wiggle {
      background-color: #ffffcc;
    }
    .down {
      background-color: #ffcccc;
    }
</style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script type="text/javascript">
    function getSettings() {

    }

    function sendStudents() {
        studentNum = document.getElementById('studentNum').value;
        let request = new XMLHttpRequest();
        request.open("GET", "/settings?students=" + studentNum);
        // request.onload = function() {
        // console.log(request.response);
        // };
        request.send();
    }

    function updatePerm(el) {
        console.log("GET", el.value);
        let request = new XMLHttpRequest();
        request.open("GET", el.value);
        request.onload = function() {
            // console.log(request.response);
        };
        request.send();
    }

    function upbLabel(el) {
        let newCount = el.value;
        if (newCount) document.getElementById('studentNumButton').innerHTML = "Update Students (" + newCount + ")"
        else document.getElementById('studentNumButton').innerHTML = "Update Students (Automatic)"
    }

    function getStudentData() {

    }

    var studentData;
    var oldStudentData;
    var permNames = ['Teacher', 'Assistant', 'Student', 'Guest']


    function checkUpdates(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.onload = function() {
            studentData = xhr.response;
        };
        xhr.send();
    }
    setInterval(function() {
        checkUpdates('/getstudents');
        if (studentData != oldStudentData) {
            oldStudentData = studentData;
            let studentList = JSON.parse(studentData);
            let studentBox = document.getElementById('students');
            studentBox.innerHTML = '';
            for (student in studentList) {
                let newStudent = document.createElement('div');
                newStudent.classList.add('user');
                newStudent.innerHTML = studentList[student].name;
                newStudent.innerHTML += "	&nbsp; ";
                newStudent.innerHTML += permNames[studentList[student]['perms']];
                newStudent.innerHTML += "	&nbsp; ";
                newStudent.innerHTML += `<a href="users?name=${studentList[student]['name']}&action=kick">Remove</a>`;
                // newStudent.innerHTML += "	&nbsp; ";
                // newStudent.innerHTML += `<a href="users?name=${studentList[student]['name']}&action=ban">Ban</a>`;
                newStudent.innerHTML +=
                    `
                <select onchange="updatePerm(this)" id="userpermsDrop" name="userpermsDrop">
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=0">${permNames[0]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=1">${permNames[1]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=2">${permNames[2]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=3" selected="selected">${permNames[3]}</option>
                </select>`
                if (studentList[student]['thumb'] == 'up') newStudent.classList.add('up')
                else if (studentList[student]['thumb'] == 'wiggle') newStudent.classList.add('wiggle')
                else if (studentList[student]['thumb'] == 'down') newStudent.classList.add('down')
                else {
                  newStudent.classList.remove('up')
                  newStudent.classList.remove('wiggle')
                  newStudent.classList.remove('down')
                }

                studentBox.appendChild(newStudent)
            }
        }
    }, 1000);
</script>
{% endblock %}

<!-- Main content here -->
{% block main %}
<h1 style="color: blue">Formbar Setup</h1>
<div>
    <form action="settings" method="post">
        <input type="submit" value="Start New TUTD/Survey"><br>
        <!-- <b>Question</b><br>
        <input type="text" name="qQuestion"><br>
        <b>Answers</b><br>
        <input type="radio" name="quizlet" value="0" checked><input type="text" name="qaAnswer"><br>
        <input type="radio" name="quizlet" value="1"><input type="text" name="qbAnswer"><br>
        <input type="radio" name="quizlet" value="2"><input type="text" name="qcAnswer"><br>
        <input type="radio" name="quizlet" value="3"><input type="text" name="qdAnswer"><br> -->
    </form>
</div>
<br>
<div>
    <input type="range" id="studentNum" oninput="upbLabel(this)" name="studentNum" min="0" max="30" style="width:200px;">
    <button type="button" id="studentNumButton" onclick="sendStudents()">Update Students</button>
</div>
<br>
<div id="perms">
    <b>Permissions:</b>
    <div class="perBox">
        <b>API</b><br>
        <select onchange="updatePerm(this)" id="apipermsDrop" name="apipermsDrop">
            <option value="" disabled selected style="display:none;">(Anyone)</option>
            <option value="/settings?api=0">Teacher</option>
            <option value="/settings?api=1">Assistant</option>
            <option value="/settings?api=2">Student</option>
            <option value="/settings?api=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Sounds</b><br>

        <select onchange="updatePerm(this)" id="sfxpermsDrop" name="sfxpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?sfx=0">Teacher</option>
            <option value="/settings?sfx=1">Assistant</option>
            <option value="/settings?sfx=2">Student</option>
            <option value="/settings?sfx=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Music</b><br>

        <select onchange="updatePerm(this)" id="bgmpermsDrop" name="bgmpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?bgm=0">Teacher</option>
            <option value="/settings?bgm=1">Assistant</option>
            <option value="/settings?bgm=2">Student</option>
            <option value="/settings?bgm=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Phrases</b><br>

        <select onchange="updatePerm(this)" id="saypermsDrop" name="saypermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?say=0">Teacher</option>
            <option value="/settings?say=1">Assistant</option>
            <option value="/settings?say=2">Student</option>
            <option value="/settings?say=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>LED Bar</b><br>

        <select onchange="updatePerm(this)" id="barpermsDrop" name="barpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?bar=0">Teacher</option>
            <option value="/settings?bar=1">Assistant</option>
            <option value="/settings?bar=2">Student</option>
            <option value="/settings?bar=3">Anyone</option>
        </select>
    </div>
</div>
<div id="students">
</div>
<div>
    <table border=1>
        <tr>
            <td><a href="/settings?mode=thumbs">Thumbs</a></td>
        </tr>
        <tr>
            <td><a href="/settings?mode=survey">Survey</a></td>
        </tr>
        <tr>
            <td><a href="/settings?mode=quiz">Quiz</a></td>
        </tr>
        <tr>
            <td><a href="/settings?mode=essay">Essay</a></td>
        </tr>
        <tr>
            <td><a href="/settings?mode=progress">Progress</a></td>
        </tr>
        <tr>
            <td><a href="/settings?mode=playtime">Playtime</a></td>
        </tr>
    </table>
</div>
<br>
<div>
    <table border=1>
        <tr>
            <td colspan=2><b>Settings</b></td>
        </tr>
        <tr>
            <td colspan=2>Only whitelisted IPs can make changes</td>
        </tr>
        <tr>
            <td><a href="/settings?locked=true">Locked</a></td>
            <td><a href="/settings?locked=false">Unlocked</a></td>
        </tr>
        <tr>
            <td colspan=2>Hide or show results until complete</td>
        </tr>
        <tr>
            <td><a href="/settings?blind=true">Blind Results</a></td>
            <td><a href="/settings?blind=false">Live Results</a></td>
        </tr>
        <tr>
            <td colspan=2>Show incomplete bar when votes are missing</td>
        </tr>
        <tr>
            <td><a href="/settings?showinc=true">Show empty spaces</a></td>
            <td><a href="/settings?showinc=false">Fill bar</a></td>
        </tr>
        <tr>
            <td colspan=2>Clear out submissions</td>
        </tr>
        <tr>
            <td><a href="/settings?clear=quiz">Quiz</a></td>
            <td><a href="/settings?clear=essay">Essay</a></td>
        </tr>
        <tr>
            <td><a href="/settings?clear=formbar">Formbar</a></td>
            <td><a href="/settings?clear=help">Help</a></td>
        </tr>
    </table>
</div>
{% endblock %}
