<html>
    <head>
        <title>Thumbspanel Rental</title>
    </head>
    <body>
        <a href="/tutd?thumb=up">Up</a><br>
        <a href="/tutd?thumb=wiggle">Wiggle</a><br>
        <a href="/tutd?thumb=down">Down</a><br>
        <a href="/tutd?thumb=oops">Oops</a><br><br>
        <a href="/survey?vote=a">A</a><br>
        <a href="/survey?vote=b">B</a><br>
        <a href="/survey?vote=c">C</a><br>
        <a href="/survey?vote=d">D</a><br>
        <a href="/survey?vote=oops">Oops</a><br><br>
        <a href="/quiz">Quiz</a><br>
        <a href="/help">Help</a><br>
    </body>
</html>
