{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  h1 {
    margin: 0 0 12px;
    font-size: 26px;
    color: var(--color-blue);
    text-align: center;
  }

  h2 {
    margin: 48px 0 12px;
    font-size: 23px;
    color: var(--color-blue);
  }

  h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--color-blue);
  }

  button, .button {
    margin-top: 8px;
  }

  input[type="text"],
  input[type="number"] {
    background: transparent;
    border-color: black;
    border-style: none none solid;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    outline: none;
  }

  input[type="text"] {
    width: 144px;
  }

  input[type="range"] {
    width: 96px;
    vertical-align: middle;
  }

  input[type="number"] {
    width: 48px;
  }

  input[type="color"] {
    width: 80px;
    height: 20px;
  }

  a:active {
    filter: brightness(50%);
  }

  .thumbButton,
  .letterButton {
    width: 144px;
    margin: 12px;
    border-radius: 48px !important;
  }

  .highlight:hover {
    transform: none !important;
    box-shadow: none !important;
  }

  button:active,
  input[type="color"]:active,
  .thumbButton:active,
  .letterButton:active {
    transform: initial;
    box-shadow: initial;
    background: var(--light-gray);
  }

  .redColor {
    color: var(--color-red) !important;
  }

  .yellowColor {
    color: var(--color-yellow) !important;
  }

  .greenColor {
    color: var(--color-green) !important;
  }

  .cyanColor {
    color: var(--color-cyan) !important;
  }

  .blueColor {
    color: var(--color-blue) !important;
  }

  .smallImg {
    width: 24px;
    margin-left: 4px;
    border-radius: 12px;
    vertical-align: middle;
    cursor: pointer;
  }

  #sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    overflow: auto;
  }

  #tutdDiv, #abcdDiv {
    width: 100%;
    text-align: center;
  }

  #text {
    text-transform: uppercase;
    font-family: monospace;
  }

  #color2Div:not(.hidden) {
    display: inline-block;
  }

  #randomMusic {
    margin: 0 4px 0 0;
    border-radius: 0;
  }

  #bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 48px;
    padding: inherit;
  }

  .alert {
    font-weight: bold;
    color: #ff8040;
  }

  #rightSide {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 250px);
    height: 100%;
  }

  #tabs {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    background: var(--bg-darker);
    border-bottom: 1px solid var(--dark-gray);
  }

  .tab {
    padding: 5.5px 16px;
    background: var(--bg-darker);
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .icon {
    position: relative;
    top: 2px;
    vertical-align: top;
    height: 18px;
  }

  .dropdown::after {
    content: "";
    vertical-align: bottom;
    display: inline-block;
    margin-left: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .menu {
    position: fixed;
    top: 32px;
    box-sizing: border-box;
    border: 1px var(--dark-gray);
    border-style: none solid solid;
    z-index: 2;
    outline: none;
  }

  #urlTab {
    padding: 4.5px 16px;
  }

  .tab:not(.open):hover, .tab.menuOpen {
    background: var(--bg-dark-highlight);
  }

  .tab.open {
    color: white;
  }

  #chatTab.open {
    background: var(--color-cyan);
  }

  #studentsTab.open, #studentsMenu > .open {
    background: var(--color-gold);
  }

  #wawdTab.open {
    background: var(--color-purple);
  }

  #quizTab.open {
    background: var(--color-pink);
  }

  #gamesTab.open, #gamesMenu > .open {
    background: var(--color-green);
  }

  #teacherTab.open, #teacherMenu > .open {
    background: var(--color-orange);
  }

  #debugTab.open {
    background: var(--color-red);
  }

  #urlLabel {
    color: var(--light-gray);
    cursor: pointer;
  }

  #urlInput {
    padding: 0;
    color: white;
    border-color: white;
  }

  #innerPage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 32px);
    border: none;
  }
</style>
{% endblock %}

<!-- Main content here -->
{% block main %}
<div id="sidebar" class="light">
  <div id="sidebarContent">
    <h1>Formbar Features</h1>
    <div style="text-align: center;">Features will appear when the teacher makes them available.</div>

    <div id="tutdDiv" class="hidden">
      <h2>Thumbs</h2>
      <img src="{{ url_for('static', filename='img/advanced/thumbButton0.png') }}" id="thumbButton0" class="thumbButton button inline popOut moreDepth greenColor" title="Up" onclick="thumbsVote(0);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/advanced/thumbButton1.png') }}" id="thumbButton1" class="thumbButton button inline popOut moreDepth cyanColor" title="Wiggle" onclick="thumbsVote(1);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/advanced/thumbButton2.png') }}" id="thumbButton2" class="thumbButton button inline popOut moreDepth redColor" title="Down" onclick="thumbsVote(2);" tabindex="0">
    </div>

    <div id="abcdDiv" class="hidden">
      <h2>Letters</h2>
      <img src="{{ url_for('static', filename='img/advanced/letterButton0.png') }}" id="letterButton0" class="letterButton button inline popOut moreDepth redColor" title="Vote A" onclick="letterVote(0);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton1.png') }}" id="letterButton1" class="letterButton button inline popOut moreDepth blueColor" title="Vote B" onclick="letterVote(1);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton2.png') }}" id="letterButton2" class="letterButton button inline popOut moreDepth yellowColor" title="Vote C" onclick="letterVote(2);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton3.png') }}" id="letterButton3" class="letterButton button inline popOut moreDepth greenColor" title="Vote D" onclick="letterVote(3);" tabindex="0">
    </div>

    <div id="soundDiv" class="hidden">
      <h2>Sound effects</h2>
      <input type="text" id="sound" placeholder="Filename" list="sfxFiles">
      <datalist id="sfxFiles"></datalist>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendSound();">
    </div>

    <div id="musicDiv" class="hidden">
      <h2>Play music</h2>
      <label for="volume">Volume: </label><input type="range" id="volume" value="0.5" max="1" step="0.1">
      <span id="volNumber">0.5</span>
      <br>
      <img src="{{ url_for('static', filename='img/advanced/random.png') }}" id="randomMusic" class="smallImg" title="Random" onclick="randomBGM()"><input type="text" id="music" placeholder="Filename" list="bgmFiles">
      <datalist id="bgmFiles"></datalist>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendMusic();"><br>
      <div id="nowPlaying" class="hidden">Now playing: <b id="nowPlayingTitle" title="Song"></b></div>
      <button id="stopMusicButton" class="inline popOut" style="margin-top: 12px;" onclick="stopMusic();">Stop music</button>
    </div>

    <div id="textDiv" class="hidden">
      <h2>Change text</h2>
      <input type="text" id="text" placeholder="Phrase">
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendText();">
    </div>

    <div id="colorDiv" class="hidden">
      <h2>Change color</h2>
      <input type="radio" id="hideSegment" name="segment" checked onclick="hideSegment();" style="margin-left: 0;"><label for="hideSegment">Entire bar</label>
      <input type="radio" id="showSegment" name="segment" style="margin-left: 8px;" onclick="showSegment();"><label for="showSegment">Segment</label>
      <br>
      <div id="segment" class="hidden" style="margin-bottom: 8px;">
        <input type="number" id="segmentStart" min="0" value="0" onchange="validNumber(this);"> –
        <input type="number" id="segmentEnd" min="0" onchange="validNumber(this);">
      </div>
      <input type="radio" id="hideColor2" name="gradient" checked onclick="hideColor2();" style="margin-left: 0;"><label for="hideColor2">Single color</label>
      <input type="radio" id="showColor2" name="gradient" style="margin-left: 8px;" onclick="showColor2();"><label for="showColor2">Gradient</label>
      <br>
      <div style="display: inline-block;">
        <h3 id="color1Heading" class="hidden" style="margin-bottom: 0;">Color 1</h3>
        <input type="color" id="color1" class="button inline popOut">
      </div>
      <div id="color2Div" class="hidden" style="margin-left: 8px;">
        <h3 style="margin-bottom: 0;">Color 2</h3>
        <input type="color" id="color2" class="button inline popOut">
      </div>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendColor();">
    </div>

    <div id="percentDiv" class="hidden">
      <h2>Fill percentage</h2>
      <input type="number" id="percent" value="0" min="0" max="100" onchange="validNumber(this);"><label for="percent">%</label>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendPercent();">
    </div>
  </div>

  <div id="bottom">
    Name: <span id="name"></span> <span id="guest"></span><br>
    <button class="inline popOut" onclick="window.location = '/logout';">Log out</button>
    <button class="inline popOut" onclick="feedback();">Send feedback</button>
    <button id="logOut" class="inline popOut" onclick="window.location = '/basic';">Use basic mode</button>
    <button class="inline popOut" onclick="window.location = '/setdefault';">Set default</button>
  </div>
</div>

<div id="rightSide">
  <div id="tabs">
    <div id="chatTab" class="tab" onclick="openPage('chat');"><img src="{{ url_for('static', filename='img/advanced/chat.png') }}" class="icon"> <b id="newMessages" style="color: var(--light-red);"></b> Chat</div>
    <div id="studentsTab" class="tab dropdown"><img src="{{ url_for('static', filename='img/advanced/students.png') }}" class="icon"> Students</div>
    <div id="studentsMenu" class="menu hidden" tabindex="-1">
      <div id="helpTab" class="tab" onclick="openPage('help');">Help!</div>
      <div id="breakTab" class="tab" onclick="openPage('break');">Bathroom break</div>
    </div>
    <div id="wawdTab" class="tab" onclick="openPage('wawd');"><img src="{{ url_for('static', filename='img/advanced/wawd.png') }}" class="icon"> What are we doing?</div>
    <div id="quizTab" class="tab" onclick="openPage('quiz');"><img src="{{ url_for('static', filename='img/advanced/quiz.png') }}" class="icon"> Quiz</div>
    <div id="gamesTab" class="tab dropdown"><img src="{{ url_for('static', filename='img/advanced/games.png') }}" class="icon"> Games</div>
    <div id="gamesMenu" class="menu hidden" tabindex="-1">
      <div id="2048Tab" class="tab" onclick="openPage('2048');">2048</div>
      <div id="hangmanTab" class="tab" onclick="openPage('hangman');">Hangman</div>
      <div id="minesweeperTab" class="tab" onclick="openPage('minesweeper');">Minesweeper</div>
      <div id="speedtypeTab" class="tab" onclick="openPage('speedtype');">Speed Typer</div>
      <div id="tttTab" class="tab" onclick="openPage('ttt');">Tic-tac-toe</div>
      <div id="fighterTab" class="tab" onclick="openPage('fighter');">Turn-Based Fighter</div>
    </div>
    <div id="teacherTab" class="tab dropdown"><img src="{{ url_for('static', filename='img/advanced/teacher.png') }}" class="icon"> Teacher</div>
    <div id="teacherMenu" class="menu hidden" tabindex="-1">
      <div id="needshelpTab" class="tab" onclick="openPage('needshelp');">Help tickets</div>
      <div id="settingsTab" class="tab" onclick="openPage('settings');">Settings</div>
      <div id="usersTab" class="tab" onclick="openPage('users');">User list</div>
      <div id="lessonTab" class="tab" onclick="openPage('lesson');">Lesson</div>
    </div>
    <div id="debugTab" class="tab" onclick="openPage('debug');"><img src="{{ url_for('static', filename='img/advanced/debug.png') }}" class="icon"> API debugging</div>
    <div id="reload" class="tab" style="margin-left: auto;" onclick="document.getElementById('innerPage').contentWindow.location.reload();"><img src="{{ url_for('static', filename='img/advanced/reload.png') }}" class="icon"> Reload inner page</div>
  </div>

  <div>
    <iframe src="/chat" id="innerPage" onload="pageOpened(this.contentWindow.location.pathname);"></iframe>
  </div>
</div>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script>
  let bottom = document.getElementById("bottom");
  let menus = ["students", "games", "teacher"];
  let innerPage = document.getElementById("innerPage");
  let innerPageTitle;
  let segment;
  let gradient;
  let urlOpen;
  let newMessages = 0;
  let username = "{{ username }}";
  let meRes = getResponse("/getme");
  let bgmRes = getResponse("/getbgm");
  let modeRes = getResponse("/getmode");
  let permsRes = getResponse("/getpermissions");
  let pixRes = getResponse("/getpix");
  let barpix = eval(pixRes.pixels);

  menuPositions();
  updateVotes(meRes);
  nowPlaying(bgmRes);
  getUsername(meRes);
  showEnabled(modeRes, meRes);
  bottomPosition();
  openPage("chat");
  setInterval(() => {
    ////meRes = getResponse("/getme");
    ////bgmRes = getResponse("/getbgm");
    ////modeRes = getResponse("/getmode");
    ////permsRes = getResponse("/getpermissions");
    checkIfRemoved(meRes);
    updateVotes(meRes);
    showEnabled(modeRes, meRes, permsRes);
    nowPlaying(bgmRes);
    bottomPosition();
  }, 1000);

  function showEnabled(modeRes, meRes) {
    let tutdDiv = document.getElementById("tutdDiv");
    let abcdDiv = document.getElementById("abcdDiv");
    let soundDiv = document.getElementById("soundDiv");
    let musicDiv = document.getElementById("musicDiv");
    let textDiv = document.getElementById("textDiv");
    let colorDiv = document.getElementById("colorDiv");

    let mode = modeRes.mode;

    if (mode == "tutd") tutdDiv.classList.remove("hidden");
    else tutdDiv.classList.add("hidden");

    if (mode == "abcd") abcdDiv.classList.remove("hidden");
    else abcdDiv.classList.add("hidden");

    let myPerms = meRes.perms;

    let sfxPerm = permsRes.sfx;
    let bgmPerm = permsRes.bgm;
    let ledPerm = permsRes.bar;

    if (myPerms <= sfxPerm) soundDiv.classList.remove("hidden");
    else soundDiv.classList.add("hidden");
    if (myPerms <= bgmPerm) musicDiv.classList.remove("hidden");
    else musicDiv.classList.add("hidden");
    if (myPerms <= ledPerm) {
      textDiv.classList.remove("hidden");
      colorDiv.classList.remove("hidden");
    } else {
      textDiv.classList.add("hidden");
      colorDiv.classList.add("hidden");
    }
  }

  function bottomPosition() {
    let sbc = document.getElementById("sidebarContent");
    if (sbc.clientHeight > window.innerHeight - bottom.clientHeight) {
      bottom.style.position = "static";
      bottom.style.padding = 0;
    } else {
      bottom.style.position = "absolute";
      bottom.style.padding = "inherit";
    }
  }

  window.addEventListener("resize", bottomPosition);

  function menuPositions() {
    menus.forEach(menu => {
      let menuEl = document.getElementById(menu + "Menu");
      let tabEl = document.getElementById(menu + "Tab");
      menuEl.style.left = tabEl.getBoundingClientRect().left + "px"; //Give menu same X position as tab
      if (menuEl.offsetWidth < tabEl.offsetWidth) menuEl.style.width = tabEl.offsetWidth;
    });
  }

  function getUsername(res) {
    let nameBox = document.getElementById("name");
    let oldHeight = bottom.clientHeight;
    nameBox.innerText = username;
    let myPerms = res.perms;
    let guestBox = document.getElementById("guest");
    myPerms == 3 ? guestBox.innerText = "(guest)" : guestBox.innerText = null;
    if (bottom.clientHeight > oldHeight) shorten(bottom, oldHeight, nameBox);
    else nameBox.removeAttribute("title");
  }

  function checkIfRemoved(res) {
    //If the user is removed by the teacher, send them back to the login page
    if (res.error == "You are not logged in.") window.location = "/login?alert=You have been logged out.";
  }

  function shorten(container, maxHeight, text) {
    //Set title to original string
    let original = text.innerText;
    //Remove characters while string is too long
    while (container.clientHeight > maxHeight) text.innerText = text.innerText.substring(0, text.innerText.length - 2) + "…";
    text.title = original;
    text.style.cursor = "help";
  }

  let sfx = eval("{{ sfx }}".replaceAll("&#39;", "'"));
  sfx = sfx.filter(file => !file.startsWith("sfx_"));

  sfx.forEach(sound => document.getElementById("sfxFiles").innerHTML += "<option value='" + sound + "'></option>");

  function sendSound() {
    let soundFile = document.getElementById("sound").value;
    request.open("GET", "/sfx?file=" + soundFile);
    request.send();
    if (sfx.includes(soundFile)) document.getElementById("sound").value = null;
    else alert("File does not exist");
  }

  document.getElementById("sound").addEventListener("keydown", event => {
    if (event.code == "Enter") sendSound();
  });

  document.getElementById("volume").addEventListener("input", () => {
    let volume = document.getElementById("volume").value;
    if (volume == 0 || volume == 1) volume += ".0";
    document.getElementById("volNumber").innerText = volume;
  });

  let bgm = eval("{{ bgm }}".replaceAll("&#39;", "'"));

  bgm.forEach(song => document.getElementById("bgmFiles").innerHTML += "<option value='" + song + "'></option>");

  function randomBGM() {
    document.getElementById("music").value = bgm[Math.floor(Math.random() * bgm.length)];
  }

  function sendMusic() {
    let musicFile = document.getElementById("music").value;
    let volume = document.getElementById("volume").value;
    if (volume == 0 || volume == 1) volume += ".0";
    request.open("GET", "/bgm?file=" + musicFile + "&volume=" + volume);
    request.send();
    if (bgm.includes(musicFile)) document.getElementById("music").value = null;
    else alert("File does not exist");
  }

  document.getElementById("music").addEventListener("keydown", event => {
    if (event.code == "Enter") sendMusic();
  });

  function nowPlaying(res) {
    //Get current song from server
    let songName = res.bgm;

    let np = document.getElementById("nowPlaying");
    let npTitle = document.getElementById("nowPlayingTitle");

    //If a song is currently playing
    if (songName) {
      //Show "Now Playing"
      if (songName != npTitle.innerText) {
        np.classList.remove("hidden");
        npTitle.innerText = songName;
        if (np.clientHeight > 21) shorten(np, 21, npTitle);
        else np.removeAttribute("title");
      }
    }
    //If no song is playing, hide
    else np.classList.add("hidden");
  }

  function stopMusic() {
    request.open("GET", "/bgmstop");
    request.send();
  }

  function sendText() {
    let text = document.getElementById("text").value;
    //Replace spaces with underscores
    text = text.replace(/\s/g, "_");
    //If input is blank, replace with underscore
    if (!text) text = "_";
    request.open("GET", "/say?phrase=" + text);
    request.send();
    document.getElementById("text").value = null;
  }

  document.getElementById("text").addEventListener("keydown", event => {
    if (event.code == "Enter") sendText();
  });

  function hideSegment() {
    segment = false;
    document.getElementById("segment").classList.add("hidden");
  }

  function showSegment() {
    segment = true;
    document.getElementById("segment").classList.remove("hidden");
  }

  function validNumber(el) {
    //Convert value to integer within range
    let number = parseInt(el.value);
    if (number < el.min || isNaN(number)) el.value = el.min;
    else if (number > el.max) el.value = el.max;
    else el.value = number;
  }

  document.getElementById("segmentStart").max = barpix.length;
  document.getElementById("segmentEnd").max = barpix.length;
  document.getElementById("segmentEnd").value = barpix.length;

  function hideColor2() {
    gradient = false;
    document.getElementById("color1Heading").classList.add("hidden");
    document.getElementById("color2Div").classList.add("hidden");
  }

  function showColor2() {
    gradient = true;
    document.getElementById("color1Heading").classList.remove("hidden");
    document.getElementById("color2Div").classList.remove("hidden");
  }

  function sendColor() {
    let start = document.getElementById("segmentStart").value;
    let end = document.getElementById("segmentEnd").value;
    let hex1 = document.getElementById("color1").value.slice(1);
    let hex2 = document.getElementById("color2").value.slice(1);
    if (!segment) {
      start = 0;
      end = barpix.length;
    }
    if (!gradient) hex2 = hex1;
    request.open("GET", "/segment?start=" + start + "&end=" + end + "&hex=" + hex1 + "&hex2=" + hex2);
    request.send();
    document.getElementById("segmentStart").value = 0;
    document.getElementById("segmentEnd").value = barpix.length;
  }

  function feedback() {
    let addresses = `
      csmith@ytech.edu,
      john2022026@live.ytech.edu,
    `;
    window.open(`mailto:${addresses}?subject=Formbar Feedback`);
  }

  function openPage(page) {
    innerPage.contentWindow.location = "/" + page;
    menus.forEach(menu => {
      document.getElementById(menu + "Menu").classList.add("hidden");
      document.getElementById(menu + "Tab").classList.remove("menuOpen");
    });
  }

  function pageOpened(path) {
    let content = innerPage.contentWindow.document.body.innerHTML;
    innerPageTitle = innerPage.contentWindow.document.title;
    document.title = `${innerPageTitle} - Formbar`;
    let tabs = document.querySelectorAll(".tab");
    let tabEl = document.getElementById(path.substring(1) + "Tab");
    if (!content) openPage("chat?alert='Page does not exist.'");
    Array.from(tabs).forEach(tab => tab.classList.remove("open"));
    if (["/break", "/help"].includes(path)) document.getElementById("studentsTab").classList.add("open");
    if (["/2048", "/hangman", "/minesweeper", "/speedtype", "/ttt", "/fighter"].includes(path)) document.getElementById("gamesTab").classList.add("open");
    else if (["/needshelp", "/lesson", "/settings", "/users"].includes(path)) document.getElementById("teacherTab").classList.add("open");
    if (tabEl) tabEl.classList.add("open");
    if (path == "/advanced" || path == "/basic") openPage("chat");
    if (path == "/chat") {
      newMessages = 0;
      document.getElementById("newMessages").innerText = null;
      menuPositions();
    }
    /*Change page title here*/
  }

  function showMenu(name) {
    menus.forEach(menu => {
      if (menu == name) {
        document.getElementById(name + "Menu").classList.remove("hidden");
        document.getElementById(name + "Menu").focus();
        document.getElementById(name + "Tab").classList.add("menuOpen");
      }
    });
  }

  document.getElementById("studentsTab").onclick = () => showMenu("students");
  document.getElementById("gamesTab").onclick = () => showMenu("games");
  document.getElementById("teacherTab").onclick = () => showMenu("teacher");
  document.getElementById("studentsTab").onmousedown = function() {
    if (document.getElementById("studentsMenu") == document.activeElement) this.onclick = null;
  };
  document.getElementById("gamesTab").onmousedown = function() {
    if (document.getElementById("gamesMenu") == document.activeElement) this.onclick = null;
  };
  document.getElementById("teacherTab").onmousedown = function() {
    if (document.getElementById("teacherMenu") == document.activeElement) this.onclick = null;
  };
  document.onclick = () => {
    document.getElementById("studentsTab").onclick = () => showMenu("students");
    document.getElementById("gamesTab").onclick = () => showMenu("games");
    document.getElementById("teacherTab").onclick = () => showMenu("teacher");
  }
  menus.forEach(menu => {
    document.getElementById(menu + "Menu").addEventListener("blur", function() {
      this.classList.add("hidden"); //Hide menu when user clicks elsewhere
      document.getElementById(menu + "Tab").classList.remove("menuOpen"); //Remove highlight from the tab
    });
    document.getElementById(menu + "Menu").addEventListener("keydown", function() {
      if (event.code == "Escape") this.blur(); //Hide menu when Esc key pressed
    });
  });

  ws.onmessage = message => {
    let data = JSON.parse(message.data);
    if (data.type == 'message' || data.type == 'alert') {
      if (document.hidden || !innerPage.contentWindow.location.pathname == "/chat") {
        newMessages++;
        document.title = `(${newMessages}) ${innerPageTitle} - Formbar`;
        if (innerPage.contentWindow.location.pathname != "chat") {
          document.getElementById("newMessages").innerText = "(" + newMessages + ")";
          menuPositions();
        }
      }
    }
  };

  document.addEventListener("visibilitychange", () => {if (!document.hidden && innerPage.contentWindow.location.pathname == "chat") document.title = `${innerPageTitle} - Formbar`}); //When user goes to this page, if chat is open, remove number of new messages from title
</script>
{% endblock %}
