{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar (Basic Mode){% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #advancedLink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: var(--color-green);
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  #setDefaultButton {
    position: fixed;
    top: 60px;
    color: var(--color-purple);
  }

  #thumbs, #letters {
    width: 480px;
    display: flex;
    justify-content: space-between;
  }

  #other {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  h1 {
    margin-top: 0;
    color: var(--theme-color);
  }

  .thumbButton {
    width: 144px;
    border-radius: 50% !important;
  }

  .letterButton {
    width: 108px;
    border-radius: 50% !important;
  }

  .highlight:hover {
    transform: none !important;
    box-shadow: none !important;
  }

  button {
    width: 180px;
    font-size: 28px;
    font-weight: bold;
    border-width: 2px !important;
    border-radius: 9999px !important;
  }

  .redColor {
    color: var(--color-red) !important;
  }

  .yellowColor {
    color: var(--color-yellow) !important;
  }

  .greenColor {
    color: var(--color-green) !important;
  }

  .cyanColor {
    color: var(--color-cyan) !important;
  }

  .blueColor {
    color: var(--color-blue) !important;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}light{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="advancedLink" onclick="window.location = '/home';">Go to advanced mode to use all features</div>
  <button id="setDefaultButton" class="hCentered" onclick="window.location = '/setdefault';">Set default mode</button>
  <div class="centered">
    <h1>Thumbs</h1>
    <h2 id="noTUTD">There is no thumbs survey right now.</h2>
    <div id="thumbs" class="hidden">
      <img src="{{ url_for('static', filename='img/basic/thumbButton0.png') }}" id="thumbButton0" class="thumbButton button inline popOut moreDepth greenColor" title="Up" onclick="thumbsVote(0);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/thumbButton1.png') }}" id="thumbButton1" class="thumbButton button inline popOut moreDepth cyanColor" title="Wiggle" onclick="thumbsVote(1);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/thumbButton2.png') }}" id="thumbButton2" class="thumbButton button inline popOut moreDepth redColor" title="Down" onclick="thumbsVote(2);" tabindex="0">
    </div>
    <br><br>
    <h1>Letters</h1>
    <h2 id="noABCD">There is no letter survey right now.</h2>
    <div id="letters" class="hidden">
      <img src="{{ url_for('static', filename='img/basic/letterButton0.png') }}" id="letterButton0" class="letterButton button inline popOut moreDepth redColor" title="Vote A" onclick="letterVote(0);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton1.png') }}" id="letterButton1" class="letterButton button inline popOut moreDepth blueColor" title="Vote B" onclick="letterVote(1);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton2.png') }}" id="letterButton2" class="letterButton button inline popOut moreDepth yellowColor" title="Vote C" onclick="letterVote(2);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton3.png') }}" id="letterButton3" class="letterButton button inline popOut moreDepth greenColor" title="Vote D" onclick="letterVote(3);" tabindex="0">
    </div>
    <br><br>
    <h1>Other</h1>
    <div id="other">
      <button id="help" class="inline popOut moreDepth" title="Send the teacher a help ticket">Help!</button>
      <button id="break" class="inline popOut moreDepth" title="Request a bathroom break">Bathroom!</button>
    </div>
  </div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script>
  ////Check for break, fix buttons
  checkForSurvey();
  checkForHelpTicket();
  setInterval(() => {
    checkIfRemoved();
    checkForSurvey();
    checkForHelpTicket();
  }, 1000);

  document.getElementById("help").onclick = requestHelp;
  document.getElementById("break").onclick = requestBreak;

  function checkIfRemoved() {
    //If the user is removed by the teacher, send them back to the login page
    let res = getResponse("/getme");
    if (res.error == "You are not logged in.") window.location = "/login?forward=/basic&alert=You have been logged out.";
  }

  function checkForSurvey() {
    let res = getResponse("/getmode");
    let mode = res.mode;
    if (mode == "tutd") {
      document.getElementById("thumbs").classList.remove("hidden");
      document.getElementById("noTUTD").classList.add("hidden");
    } else {
      document.getElementById("thumbs").classList.add("hidden");
      document.getElementById("noTUTD").classList.remove("hidden");
    }
    if (mode == "abcd") {
      document.getElementById("letters").classList.remove("hidden");
      document.getElementById("noABCD").classList.add("hidden");
    } else {
      document.getElementById("letters").classList.add("hidden");
      document.getElementById("noABCD").classList.remove("hidden");
    }
  }

  function checkForHelpTicket() {
    ////Don't use param
    if ("{{ helpTicket }}") {
      if ("{{ helpTicket }}" == "&lt;i&gt;Requested a bathroom break&lt;/i&gt;") ticketSent("break");
      else ticketSent("help");
    } else {
      document.getElementById("help").onclick = requestHelp;
      document.getElementById("break").onclick = requestBreak;
    }
  }

  function ticketSent(type) {
    let sentEl;
    let otherEl;
    if (type == "help") {
      sentEl = document.getElementById("help");
      otherEl = document.getElementById("break");
    } else if (type == "break") {
      sentEl = document.getElementById("break");
      otherEl = document.getElementById("help");
    }
    sentEl.onclick = null;
    otherEl.onclick = null;
    sentEl.classList.add("pressed");
    sentEl.classList.add("unselectable");
    sentEl.innerText = "Ticket sent";
    otherEl.classList.add("unselectable");
  }

  function requestHelp() {
    let el = document.getElementById("help");
    request.open("GET", "/help?action=send");
    request.send();
    ticketSent("help");
  }

  function requestBreak() {
    let el = document.getElementById("break");
    request.open("GET", "/break?action=request");
    request.send();
    ticketSent("break");
  }
</script>
{% endblock %}
