{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar (Basic Mode){% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #topButtons {
    width: fit-content;
    margin: auto;
  }

  #topButtons * {
    font-size: 24px;
    font-weight: bold;
    border-width: 2px !important;
    color: var(--color-purple);
  }

  #banner * {
    position: fixed;
    bottom: 0;
    height: 48px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  #bannerLeft {
    left: 0;
    width: 75%;
    background: var(--color-green);
  }

  #bannerRight {
    right: 0;
    width: 25%;
    background: var(--color-cyan);
  }

  #thumbs, #letters {
    width: 480px;
    display: flex;
    justify-content: space-between;
  }

  #other {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  h1 {
    margin-top: 0;
    color: var(--theme-color);
  }

  h2 {
    margin: 0;
  }

  .thumbButton {
    width: 144px;
    border-radius: 50% !important;
  }

  .letterButton {
    width: 108px;
    border-radius: 50% !important;
  }

  .highlight:hover {
    transform: none !important;
    box-shadow: none !important;
  }

  #other button {
    width: 180px;
    font-size: 28px;
    font-weight: bold;
    border-width: 2px !important;
    border-radius: 9999px !important;
  }

  .redColor {
    color: var(--color-red) !important;
  }

  .yellowColor {
    color: var(--color-yellow) !important;
  }

  .greenColor {
    color: var(--color-green) !important;
  }

  .cyanColor {
    color: var(--color-cyan) !important;
  }

  .blueColor {
    color: var(--color-blue) !important;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}light{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="topButtons">
    <button>Survey panel</button>
  </div>
  <div class="centered">
    <h1>Thumbs</h1>
    <h2 id="noTUTD">There is no thumbs survey right now.</h2>
    <div id="thumbs" class="hidden">
      <img src="{{ url_for('static', filename='img/basic/thumbButton0.png') }}" id="thumbButton0" class="thumbButton button inline popOut moreDepth greenColor" title="Up" onclick="thumbsVote(0);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/thumbButton1.png') }}" id="thumbButton1" class="thumbButton button inline popOut moreDepth cyanColor" title="Wiggle" onclick="thumbsVote(1);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/thumbButton2.png') }}" id="thumbButton2" class="thumbButton button inline popOut moreDepth redColor" title="Down" onclick="thumbsVote(2);" tabindex="0">
    </div>
    <br><br>
    <h1>Letters</h1>
    <h2 id="noABCD">There is no letter survey right now.</h2>
    <div id="letters" class="hidden">
      <img src="{{ url_for('static', filename='img/basic/letterButton0.png') }}" id="letterButton0" class="letterButton button inline popOut moreDepth redColor" title="Vote A" onclick="letterVote(0);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton1.png') }}" id="letterButton1" class="letterButton button inline popOut moreDepth blueColor" title="Vote B" onclick="letterVote(1);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton2.png') }}" id="letterButton2" class="letterButton button inline popOut moreDepth yellowColor" title="Vote C" onclick="letterVote(2);" tabindex="0">
      <img src="{{ url_for('static', filename='img/basic/letterButton3.png') }}" id="letterButton3" class="letterButton button inline popOut moreDepth greenColor" title="Vote D" onclick="letterVote(3);" tabindex="0">
    </div>
    <br><br>
    <h1>Other</h1>
    <div id="other">
      <button id="help" class="inline popOut moreDepth" title="Send the teacher a help ticket">Help!</button>
      <button id="break" class="inline popOut moreDepth" title="Request a bathroom break">Bathroom!</button>
    </div>
  </div>
    <div id="banner">
      <div id="bannerLeft" onclick="window.location = '/advanced';">Go to advanced mode to use all features</div>
      <div id="bannerRight" onclick="window.location = '/setdefault';">Set default mode</div>
    </div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script>
  ////Check for break, fix buttons
  let init = () => {
    updateVotes();
    checkForSurvey();
    checkForHelpTicket();
  };
  getApiData(true);

  let update = () => {
    checkIfRemoved();
    updateVotes();
    checkForSurvey();
    checkForHelpTicket();
  };
  setInterval(getApiData, 1000);

  document.getElementById("help").onclick = requestHelp;
  document.getElementById("break").onclick = requestBreak;

  function checkForSurvey() {
    let mode = modeRes.mode;
    let myPerms = meRes.perms;
    let studentPerms = permsRes.student;
    let thumbs = document.getElementById("thumbs");
    let noTUTD = document.getElementById("noTUTD");
    let letters = document.getElementById("letters");
    let noABCD = document.getElementById("noABCD");
    if (mode == "tutd") {
      if (myPerms == studentPerms) {
        thumbs.classList.remove("hidden");
        noTUTD.classList.add("hidden");
      } else {
        noTUTD.innerText = "Only students can vote in surveys."; ////
      }
    } else {
      thumbs.classList.add("hidden");
      noTUTD.classList.remove("hidden");
    }
    if (mode == "abcd") {
      if (myPerms == studentPerms) {
        letters.classList.remove("hidden");
        noABCD.classList.add("hidden");
      } else {
        noABCD.innerText = "Only students can vote in surveys.";
      }
    } else {
      letters.classList.add("hidden");
      noABCD.classList.remove("hidden");
    }
  }

  function checkForHelpTicket() {
    ////Don't use param
    if ("{{ helpTicket }}") {
      if ("{{ helpTicket }}" == "&lt;i&gt;Requested a bathroom break&lt;/i&gt;") ticketSent("break");
      else ticketSent("help");
    } else {
      document.getElementById("help").onclick = requestHelp;
      document.getElementById("break").onclick = requestBreak;
    }
  }

  function ticketSent(type) {
    let sentEl;
    let otherEl;
    if (type == "help") {
      sentEl = document.getElementById("help");
      otherEl = document.getElementById("break");
    } else if (type == "break") {
      sentEl = document.getElementById("break");
      otherEl = document.getElementById("help");
    }
    sentEl.onclick = null;
    otherEl.onclick = null;
    sentEl.classList.add("pressed");
    sentEl.classList.add("unselectable");
    sentEl.innerText = "Ticket sent";
    otherEl.classList.add("unselectable");
  }

  function requestHelp() {
    let el = document.getElementById("help");
    request.open("GET", "/help?action=send");
    request.send();
    ticketSent("help");
  }

  function requestBreak() {
    let el = document.getElementById("break");
    request.open("GET", "/break?action=request");
    request.send();
    ticketSent("break");
  }
</script>
{% endblock %}
