<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bitshifter</title>
    <style media="screen">
      div {
        border: 1px solid black;
        margin: 3px;
        padding: 3px;
        text-align: center;
      }
      #gamebox {
        width: 200px;
        margin: auto;
      }
      .left {
        float: left;
      }
      .full {
        display: flex;
        justify-content: space-around;
      }
    </style>
    <script type="text/javascript">

      var score = 0;
      var hiscore = 0;

      var hexChar = ["0", "1", "2", "3", "4", "5", "6", "7","8", "9", "A", "B", "C", "D", "E", "F"];

      function byteToHex(b) {
        return hexChar[(b >> 4) & 0x0f] + hexChar[b & 0x0f];
      }

      function newTarget() {
        let target = Math.floor(Math.random() * 256);
        let targetHex = byteToHex(target)
        let targetString = []
        let targetChar = String.fromCharCode(target)
        let tempTarget = target;
        for (var i = 0; i < 8; i++) {
          targetString.splice(0,0,1&tempTarget);
          tempTarget = tempTarget >> 1
        }
        let randomSplit = Math.floor(Math.random() * 8);
        let userGuess = targetString.slice(randomSplit, 8).concat(targetString.slice(0, randomSplit))
        targetString = targetString.join('')
        userGuess = userGuess.join('')
        return {
          dec: target,
          hex: targetHex,
          arr: targetString,
          chr: targetChar,
          guess: userGuess
        }
      }

      var gameData = newTarget();

      function left() {
        gameData.guess = gameData.guess.split('')
        gameData.guess.push(gameData.guess.shift())
        gameData.guess = gameData.guess.join('')
        draw()
      }

      function right() {
        gameData.guess = gameData.guess.split('')
        gameData.guess.splice(0,0,gameData.guess.pop())
        gameData.guess = gameData.guess.join('')
        draw()
      }

      function draw() {
        let scoreBox = document.getElementById('scorebox')
        let hiscoreBox = document.getElementById('hiscorebox')
        let charaBox = document.getElementById('charabox')
        let targetBox = document.getElementById('targetbox')
        let bitBox = document.getElementById('bitbox')
        let resString = ''
        for (var i = 0; i < gameData.guess.length; i++) {
          resString += gameData.guess[i];
        }
        scoreBox.innerHTML = score;
        hiscoreBox.innerHTML = hiscore;
        charaBox.innerHTML = gameData.chr;
        targetBox.innerHTML = gameData.dec;
        bitBox.innerHTML = resString;
      }

      function check() {
        let answerBox = document.getElementById('answerbox');
        if (answerBox.innerHTML) {
          answerBox.innerHTML = "";
          gameData = newTarget();
          draw();
        } else {
          if (gameData.arr == gameData.guess) {
            answerBox.innerHTML = "You win!";
            score++;
            if (score > hiscore) hiscore = score;
            draw();
          } else {
            answerBox.innerHTML = "You winn't!";
            score = 0;
          }
        }
      }
    </script>
  </head>
  <body onload="draw()">
      <div id="gamebox">
        Make your byte match the target by shifting the bits left or right, then submiting with "=="
        <div id="scores" class="full">
          <div class="left">Score:</div>
          <div id="scorebox">0</div>
          <div class="left">Highest:</div>
          <div id="hiscorebox">0</div>
        </div>
        Target:
        <div id="targets" class="full">
          <div class="left" id="charabox"></div>
          <div id="targetbox"></div>
        </div>
        Your byte:
        <div id="bitbox"></div>
        <div id="controlsbox" class="full">
          <button type="button" name="leftbutt" onclick="left()">&lt;&lt;</button>
          <button type="button" name="checkbutt" onclick="check()">==</button>
          <button type="button" name="ritebutt" onclick="right()">&gt;&gt;</button>
        </div>
      <div id="answerbox" class="full"></div>
    </div>
  </body>
</html>
