{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Bitshifter{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style media="screen">
    body {
      background: var(--bg-dark-highlight);
    }

    #gamebox {
      width: 250px;
      margin: auto;
      border: 1px solid white;
      background: var(--bg-dark);
      text-align: center;
    }

    #gamebox > div {
      margin: 12px 0;
      line-heigt: 200%;
    }

    span {
      border: 1px solid var(--light-gray);
      padding: 0 3px;
    }

    h3 {
      margin: 0;
      display: inline-block;
    }

    #scorebox, #targetbox {
      margin-right: 8px;
    }

    #bitbox {
      width: fit-content;
      margin: 3px auto 6px;
      font-size: 20px;
    }

    #answerboxcontainer {
      height: 32px;
    }

    #checkbutt {
      width: 75px;
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="gamebox">
    <div>Make your byte match the target by shifting the bits left or right, then submiting with "=="</div>
    <div id="scores">
      <h3>Score: <span id="scorebox">0</span></h3>
      Highest: <span id="hiscorebox">0</span>
    </div>
    <div id="targets">
      <h3>Target: <span id="targetbox"></span></h3>
      Character: <span id="charabox"></span>
    </div>
    <div>
      Your byte:<br>
      <span id="bitbox"></span>
    </div>
    <div id="controlsbox">
      <button type="button" name="leftbutt" onclick="left()">&lt;&lt;</button>
      <button type="button" name="ritebutt" onclick="right()">&gt;&gt;</button>
    </div>
    <div id="answerboxcontainer" class="hidden">
      <h3 id="answerbox"></h3>
    </div>
    <div>
      <button type="button" id="checkbutt" name="checkbutt" onclick="check()">==</button>
    </div>
</div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script type="text/javascript">
    var score = 0;
    var hiscore = 0;
    var hexChar = ["0", "1", "2", "3", "4", "5", "6", "7","8", "9", "A", "B", "C", "D", "E", "F"];
    document.getElementById('answerboxcontainer').classList.add("hidden");
    function byteToHex(b) {
      return hexChar[(b >> 4) & 0x0f] + hexChar[b & 0x0f];
    }
    window.onload = draw;
    function newTarget() {
      let target = Math.floor(Math.random() * 256);
      let targetHex = byteToHex(target)
      let targetString = []
      let targetChar = String.fromCharCode(target)
      let tempTarget = target;
      for (var i = 0; i < 8; i++) {
        targetString.splice(0,0,1&tempTarget);
        tempTarget = tempTarget >> 1
      }
      let randomSplit = Math.floor(Math.random() * 8);
      let userGuess = targetString.slice(randomSplit, 8).concat(targetString.slice(0, randomSplit))
      targetString = targetString.join('')
      userGuess = userGuess.join('')
      return {
        dec: target,
        hex: targetHex,
        arr: targetString,
        chr: targetChar,
        guess: userGuess
      }
    }
    var gameData = newTarget();
    function left() {
      gameData.guess = gameData.guess.split('')
      gameData.guess.push(gameData.guess.shift())
      gameData.guess = gameData.guess.join('')
      draw()
    }
    function right() {
      gameData.guess = gameData.guess.split('')
      gameData.guess.splice(0,0,gameData.guess.pop())
      gameData.guess = gameData.guess.join('')
      draw()
    }
    function draw() {
      let scoreBox = document.getElementById('scorebox')
      let hiscoreBox = document.getElementById('hiscorebox')
      let charaBox = document.getElementById('charabox')
      let targetBox = document.getElementById('targetbox')
      let bitBox = document.getElementById('bitbox')
      let resString = ''
      for (var i = 0; i < gameData.guess.length; i++) {
        resString += gameData.guess[i];
      }
      scoreBox.innerHTML = score;
      hiscoreBox.innerHTML = hiscore;
      charaBox.innerHTML = gameData.chr;
      targetBox.innerHTML = gameData.dec;
      bitBox.innerHTML = resString;
    }
    function check() {
      let answerBox = document.getElementById('answerbox');
      let container = document.getElementById('answerboxcontainer');
      let controlsBox = document.getElementById('controlsbox');
      let checkButton = document.getElementById("checkbutt");
      if (controlsBox.classList.contains("hidden")) {
        container.classList.add("hidden");
        controlsBox.classList.remove("hidden");
        checkButton.innerText = "==";
        gameData = newTarget();
        draw();
      } else {
        controlsBox.classList.add("hidden");
        container.classList.remove("hidden");
        checkButton.innerText = "OK";
        if (gameData.arr == gameData.guess) {
          answerBox.innerHTML = "You win!";
          score++;
          if (score > hiscore) hiscore = score;
          draw();
        } else {
          answerBox.innerHTML = "You winn't!";
          score = 0;
        }
      }
    }
  </script>
{% endblock %}
