<html>
    <body>
        <form action="createclass" method="post">
            <input type="text" name="className" placeholder="Create Class Name" required>
            <input type="submit" id="submitButton" class="button unselectable" value="Submit">
        </form>
        <form action="createclass" method="post">
            <input type="text" name="className" placeholder="Select Previous Class Name" required>
            <input type="submit" id="submitButton" class="button unselectable" value="Submit">
        </form>
    </body>
</html>

