{% extends 'header.html' %}

{% block title %}Debugging{% endblock %}
{% block style %}
<style>
  #virtualBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: black;
  }

  #vbText {
    height: 24px;
    width: 10ch;
    padding: 0 4px;
    box-sizing:
    border-box; border: 1px white;
    border-style: solid solid none;
    font: 20px monospace;
    text-transform: uppercase;
  }

  #pixBox {
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    user-select: none;
  }

  #buttonContainer {
    position: fixed;
    left: 0;
    top: 56px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    background: var(--bg-darker);
  }

  button {
    margin: 5px;
  }

  #data {
    position: absolute;
    left: 0;
    top: 116px;
    width: 100%;
    height: calc(100% - 56px - 60px - 24px);
    box-sizing: border-box;
    padding: 8px;
  }

  #updateBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding: 7px 14px;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--theme-color), var(--theme-color) 50%, var(--bg-dark-highlight) 50%);
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  	background-size: 200% 200%;
    animation: fillBar 3s linear infinite;
  }

  @keyframes fillBar {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #quickmenu {
    display: none;
  }

  #content {
    background-color: transparent;
  }
</style>
{% endblock %}

{% block main %}
  <div id="virtualBar">
    <div id="vbText"><!--Text goes here--></div>
    <span id="pixBox"></span>
  </div>

  <div id="buttonContainer"></div>

  <div id="data"></div>

  <div id="updateBar">Updating in <span id="timeLeft">3</span></div>


  <script>
    let urls = [
      "/getbgm",
      "/getfightermatches",
      "/getip",
      "/getme",
      "/getmode",
      "/getpermissions",
      "/getphrase",
      "/getpix",
      "/getquizname",
      "/getstudents",
      "/getword"
    ];
    let timeLeft = 3;
    let dataURL = "/getpix";

    urls.forEach(url => document.getElementById("buttonContainer").innerHTML += `<button id="${url}" onclick="getData('${url}')">${url}</button>`);


    function updateBar() {
      request.open("GET", '/getphrase', false);
      request.send(null);
      let phraseRes = JSON.parse(request.responseText);
      let phrase = phraseRes.phrase;
      let vbText = document.getElementById("vbText");
      vbText.innerText = phrase;
      //To do: update color

      request.open("GET", '/getpix', false);
      request.send(null);
      let pixRes = JSON.parse(request.responseText);
      let pix = eval(pixRes.pixels);
      let pixBox = document.getElementById("pixBox");
      pixBox.innerHTML = '';
      for (let i = pix.length - 1; i >= 0; i--) {
          for (let color = 0; color < pix[i].length; color++) {
              pix[i][color] = pix[i][color].toString(16);
              if (pix[i][color].length < 2)
                  pix[i][color] = "0" + pix[i][color];
          }
          pixBox.innerHTML += "<div style='display: inline; flex-grow: 1; overflow: hidden; background-color: #" + pix[i][0] + "" + pix[i][1] + "" + pix[i][2] + ";'>&nbsp;</div>";
      }

      timeLeft = 3;
    }

    function countdown() {
      document.getElementById("timeLeft").innerHTML = timeLeft--;
    }

    setInterval(updateBar, 3000);
    setInterval(countdown, 1000);
    updateBar();
    countdown();

    function getData(newURL) {
      dataURL = newURL;
      request.open('GET', newURL);
      request.onload = function() {
          data = request.response;
          if (newURL) {
            urls.forEach(url => {
              let el = document.getElementById(url);
              if (url == newURL) el.classList.add("pressed");
              else el.classList.remove("pressed");
            });
            document.getElementById("data").innerText = data;
          }
      };
      request.send();
    }

    getData(dataURL);
    setInterval(() => getData(dataURL), 3000);
  </script>
{% endblock %}
