<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
      {% block style %}{% endblock %}
  </head>

  <body class="{% block color %}{% endblock %}">
    {% block main %}{% endblock %}
  </body>

  <script>
    let request = new XMLHttpRequest();
    request.open("GET", '/getip', false);
    request.send(null);
    let serverIp = request.responseText;
    //let ws = new WebSocket(`ws://${serverIp}:9001`);
    let urlParams = new URLSearchParams(window.location.search);

    function getResponse(endpoint) {
      request.open("GET", endpoint, false);
      request.send(null);
      try {
        return JSON.parse(request.responseText);
      } catch {
        return {};
        console.error("Could not get data.");
      }
    }

    //If URL param "message" is present, display as alert
    if (urlParams.get("message")) {
      alert(urlParams.get("message"));
      window.location = window.location.pathname; //Remove message so it doesn't appear again if page is reloaded
    }
  </script>
  {% block script %}{% endblock %}
</html>
