<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
      {% block style %}{% endblock %}
  </head>

  <body class="{% block color %}{% endblock %}">
    {% block main %}{% endblock %}
  </body>

  <script>
    let request = new XMLHttpRequest();
    let ws = new WebSocket("ws://{{ serverIp }}:9001");
    let urlParams = new URLSearchParams(window.location.search);

    //If URL param "message" is present, display as alert
    let message = urlParams.get("message");
    if (message) alert(message);
  </script>
  {% block script %}{% endblock %}
</html>
