{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Help{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
<h1 style="color: blue">Ask For Help</h1>
<form action="help" method="post" style="text-align: center;">
    <input type="submit" value="Click to Send a Help Ticket">
</form>

{% endblock %}
