{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px 5px gray;
    border: solid 5px transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px 5px var(--dark-gray);
  }

  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 15px 15px var(--dark-gray);
    border: none;
  }

  h1 {
    font-size: 30px;
    color: var(--color-blue);
  }

  h2 {
    margin: 0 0 12px;
    font-size: 24px;
    color: var(--color-blue);
    text-align: center;
  }

  h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--color-blue);
  }

  input[type="text"],
  input[type="number"] {
    background: transparent;
    border-color: black;
    border-style: none none solid;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    outline: none;
  }

  input[type="text"] {
    width: 144px;
  }

  input[type="range"] {
    width: 96px;
    vertical-align: middle;
  }

  input[type="number"] {
    width: 48px;
  }

  input[type="color"] {
    width: 80px;
    height: 20px;
  }

  a:active {
    filter: brightness(50%);
  }

  .thumbButton,
  .letterButton {
    width: 144px;
    margin: 12px;
    border-radius: 48px;
  }

  .thumbButton:not(.highlight):hover:not(:active),
  .letterButton:not(.highlight):hover:not(:active) {
    transform: translate(4px, -4px);
    box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px;
  }

  button:active,
  input[type="color"]:active,
  .thumbButton:active,
  .letterButton:active {
    transform: initial;
    box-shadow: initial;
    background: var(--light-gray);
  }

  .redColor {
    color: var(--color-red);
  }

  .yellowColor {
    color: var(--color-yellow);
  }

  .greenColor {
    color: var(--color-green);
  }

  .cyanColor {
    color: var(--color-cyan);
  }

  .blueColor {
    color: var(--color-blue);
  }

  .smallImg {
    width: 24px;
    margin-left: 4px;
    border-radius: 12px;
    vertical-align: middle;
    cursor: pointer;
  }

  #sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    overflow: auto;
  }

  #tutdDiv, #surveyDiv {
    width: 100%;
    text-align: center;
  }

  #text {
    text-transform: uppercase;
    font-family: monospace;
  }

  #color2Div:not(.hidden) {
    display: inline-block;
  }

  #randomMusic {
    margin: 0 4px 0 0;
    border-radius: 0;
  }

  #bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: inherit;
  }

  .alert {
    font-weight: bold;
    color: #ff8040;
  }

  #rightSide {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 250px);
    height: 100%;
  }

  #tabs {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    background: var(--bg-darker);
    border-bottom: 1px solid var(--dark-gray);
  }

  .tab {
    padding: 5.5px 16px;
    background: var(--bg-darker);
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .icon {
    position: relative;
    top: 2px;
    vertical-align: top;
    height: 18px;
  }

  .dropdown::after {
    content: "";
    vertical-align: bottom;
    display: inline-block;
    margin-left: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .menu {
    position: fixed;
    top: 32px;
    border: 1px var(--dark-gray);
    border-style: none solid solid;
    z-index: 2;
    outline: none;
  }

  #urlTab {
    padding: 4.5px 16px;
  }

  .tab:not(.open):hover {
    background: var(--bg-dark-highlight);
  }

  .tab.open {
    color: white;
  }

  #chatTab.open {
    background: var(--color-cyan);
  }

  #helpTab.open {
    background: var(--color-gold);
  }

  #wawdTab.open {
    background: var(--color-purple);
  }

  #quizTab.open {
    background: var(--color-pink);
  }

  #gamesTab.open, #gamesMenu > .open {
    background: var(--color-green);
  }

  #teacherTab.open, #teacherMenu > .open {
    background: var(--color-orange);
  }

  #debugTab.open {
    background: var(--color-red);
  }

  #urlLabel {
    color: var(--light-gray);
    cursor: pointer;
  }

  #urlInput {
    padding: 0;
    color: white;
    border-color: white;
  }

  #innerPage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 32px);
    border: none;
  }
</style>
{% endblock %}

<!-- Main content here -->
{% block main %}
<div id="sidebar" class="light">
  <div id="sidebarContent">
    <h2>Formbar Features</h2>
    <div style="text-align: center;">Features will appear when the teacher makes them available.</div>
    <div id="tutdDiv" class="hidden">
      <h2>Thumbs</h2>
      <img src="{{ url_for('static', filename='img/home/thumbButton0.png') }}" id="thumbButton0" class="thumbButton greenColor" title="Up" onclick="thumbsVote(0);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/home/thumbButton1.png') }}" id="thumbButton1" class="thumbButton cyanColor" title="Wiggle" onclick="thumbsVote(1);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/home/thumbButton2.png') }}" id="thumbButton2" class="thumbButton redColor" title="Down" onclick="thumbsVote(2);" tabindex="0">
      <br><br><br>
    </div>

    <div id="surveyDiv" class="hidden">
      <h2>Survey</h2>
      <img src="{{ url_for('static', filename='img/home/letterButton0.png') }}" id="letterButton0" class="letterButton redColor" title="Vote A" onclick="letterVote(0);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/home/letterButton1.png') }}" id="letterButton1" class="letterButton blueColor" title="Vote B" onclick="letterVote(1);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/home/letterButton2.png') }}" id="letterButton2" class="letterButton yellowColor" title="Vote C" onclick="letterVote(2);" tabindex="0">
      <br>
      <img src="{{ url_for('static', filename='img/home/letterButton3.png') }}" id="letterButton3" class="letterButton greenColor" title="Vote D" onclick="letterVote(3);" tabindex="0">
      <br><br><br>
    </div>

    <div id="soundDiv" class="hidden">
      <h2>Sound effects</h2>
      <input type="text" id="sound" placeholder="Filename" list="sfxFiles">
      <datalist id="sfxFiles"></datalist>
      <img src="{{ url_for('static', filename='img/home/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendSound();">
      <br><br><br>
    </div>

    <div id="musicDiv" class="hidden">
      <h2>Play music</h2>
      <label for="volume">Volume: </label><input type="range" id="volume" value="1" max="1" step="0.1">
      <span id="volNumber">1.0</span>
      <br>
      <img src="{{ url_for('static', filename='img/home/random.png') }}" id="randomMusic" class="smallImg" title="Random" onclick="randomBGM()"><input type="text" id="music" placeholder="Filename" list="bgmFiles">
      <datalist id="bgmFiles"></datalist>
      <img src="{{ url_for('static', filename='img/home/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendMusic();"><br>
      <div id="nowPlaying" class="hidden">Now playing: <b id="nowPlayingTitle" title="Song"></b></div>
      <button id="stopMusicButton" class="inline popOut" style="margin-top: 12px;" onclick="stopMusic();">Stop music</button>
      <br><br><br>
    </div>

    <div id="textDiv" class="hidden">
      <h2>Change text</h2>
      <input type="text" id="text" placeholder="Phrase">
      <img src="{{ url_for('static', filename='img/home/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendText();">
      <br><br><br>
    </div>

    <div id="colorDiv" class="hidden">
      <h2>Change color</h2>
      <input type="radio" id="hideSegment" name="segment" checked onclick="hideSegment();" style="margin-left: 0;"><label for="hideSegment">Entire bar</label>
      <input type="radio" id="showSegment" name="segment" onclick="showSegment();"><label for="showSegment">Segment</label>
      <br>
      <div id="segment" class="hidden">
        <input type="number" id="segmentStart" min="0" max="240" value="0" onchange="validNumber(this);"> –
        <input type="number" id="segmentEnd" min="0" max="240" value="240" onchange="validNumber(this);">
      </div>
      <input type="radio" id="hideColor2" name="gradient" checked onclick="hideColor2();" style="margin: 8px 3px 8px 0;"><label for="hideColor2">Single color</label>
      <input type="radio" id="showColor2" name="gradient" onclick="showColor2();"><label for="showColor2">Gradient</label>
      <br>
      <div style="display: inline-block;">
        <h3 id="color1Heading" class="hidden">Color 1</h3>
        <input type="color" id="color1">
      </div>
      <div id="color2Div" class="hidden" style="margin-left: 8px;">
        <h3>Color 2</h3>
        <input type="color" id="color2">
      </div>
      <img src="{{ url_for('static', filename='img/home/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendColor();">
      <br><br><br>
    </div>

    <div id="percentDiv" class="hidden">
      <h2>Fill percentage</h2>
      <input type="number" id="percent" value="0" min="0" max="100" onchange="validNumber(this);"><label for="percent">%</label>
      <img src="{{ url_for('static', filename='img/home/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendPercent();">
      <br><br><br>
    </div>
  </div>

  <div id="bottom">
    Name: <span id="name"></span><span id="guest"></span> <button id="logOut" class="inline popOut" onclick="window.location = '/logout'">Log out</button>
    <br>
    <button class="inline popOut" style="margin-top: 4px;" onclick="feedback();">Send feedback</button>
  </div>
</div>

<div id="rightSide">
  <div id="tabs">
    <div id="chatTab" class="tab" onclick="openPage('chat');"><img src="{{ url_for('static', filename='img/home/chat.png') }}" class="icon"> <b id="newMessages" style="color: var(--light-red);"></b> Chat</div>
    <div id="helpTab" class="tab" onclick="openPage('help');"><img src="{{ url_for('static', filename='img/home/help.png') }}" class="icon"> Help!</div>
    <div id="wawdTab" class="tab" onclick="openPage('wawd');"><img src="{{ url_for('static', filename='img/home/wawd.png') }}" class="icon"> What are we doing?</div>
    <div id="quizTab" class="tab" onclick="openPage('quiz');"><img src="{{ url_for('static', filename='img/home/quiz.png') }}" class="icon"> Quiz</div>
    <div id="gamesTab" class="tab dropdown"><img src="{{ url_for('static', filename='img/home/games.png') }}" class="icon"> Games</div>
    <div id="gamesMenu" class="menu hidden" tabindex="-1">
      <div id="2048Tab" class="tab" onclick="openPage('2048');">2048</div>
      <div id="hangmanTab" class="tab" onclick="openPage('hangman');">Hangman</div>
      <div id="minesweeperTab" class="tab" onclick="openPage('minesweeper');">Minesweeper</div>
      <div id="speedtypeTab" class="tab" onclick="openPage('speedtype');">Speed Typer</div>
      <div id="tttTab" class="tab" onclick="openPage('ttt');">Tic-tac-toe</div>
      <div id="fighterTab" class="tab" onclick="openPage('fighter');">Turn-Based Fighter</div>
    </div>
    <div id="teacherTab" class="tab dropdown"><img src="{{ url_for('static', filename='img/home/teacher.png') }}" class="icon"> Teacher</div>
    <div id="teacherMenu" class="menu hidden" tabindex="-1">
      <div id="needshelpTab" class="tab" onclick="openPage('needshelp');">Help tickets</div>
      <div id="lessonTab" class="tab" onclick="openPage('lesson');">Lesson</div>
      <div id="settingsTab" class="tab" onclick="openPage('settings');">Settings</div>
      <div id="usersTab" class="tab" onclick="openPage('users');">User list</div>
    </div>
    <div id="debugTab" class="tab" onclick="openPage('debug');"><img src="{{ url_for('static', filename='img/home/debug.png') }}" class="icon"> API debugging</div>
    <div id="reload" class="tab" style="margin-left: auto;" onclick="document.getElementById('innerPage').contentWindow.location.reload();"><img src="{{ url_for('static', filename='img/home/reload.png') }}" class="icon"> Reload inner page</div>
  </div>

  <div>
    <iframe src="/chat" id="innerPage" onload="pageOpened(this.contentWindow.location.pathname);"></iframe>
  </div>
</div>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script>
  let thumbButtons = document.querySelectorAll(".thumbButton");
  let letterButtons = document.querySelectorAll(".letterButton");
  let bottom = document.getElementById("bottom");
  let menus = document.querySelectorAll(".menu");
  let innerPage = document.getElementById("innerPage");
  let chosenThumb = false;
  let chosenLetter = false;
  let segment;
  let gradient;
  let urlOpen;
  let newMessages = 0;
  let username = "{{ username }}";

  mode();
  setMenuWidths();
  updateVotes();
  nowPlaying();
  getUsername();
  showEnabled();
  bottomPosition();
  openPage("chat");
  /*setInterval(() => {
    mode();
    updateVotes();
    nowPlaying();
    showEnabled();
    bottomPosition();
  }, 1000);*/

  function getResponse(endpoint) {
    request.open("GET", endpoint, false);
    request.send(null);
    try {
      return JSON.parse(request.responseText);
    } catch {
      return {};
      console.error("Could not get data.");
    }
  }

  function mode() {
    ////needs update
    /*["quiz", "tutd", "survey"].forEach(mode => {
      let el = document.getElementById(mode + "Div");
      if (mode == currentMode) el.classList.remove("hidden");
      else el.classList.add("hidden");
    });*/
  }

  function showEnabled() {
    let soundDiv = document.getElementById("soundDiv");
    let musicDiv = document.getElementById("musicDiv");
    let textDiv = document.getElementById("textDiv");
    let colorDiv = document.getElementById("colorDiv");

    let meRes = getResponse("/getme");
    let myPerms = meRes.perms;

    let permsRes = getResponse("/getpermissions");
    let sfxPerm = permsRes.sfx;
    let bgmPerm = permsRes.bgm;
    let ledPerm = permsRes.bar;

    if (myPerms <= sfxPerm) soundDiv.classList.remove("hidden");
    else soundDiv.classList.add("hidden");
    if (myPerms <= bgmPerm) musicDiv.classList.remove("hidden");
    else musicDiv.classList.add("hidden");
    if (myPerms <= ledPerm) {
      textDiv.classList.remove("hidden");
      colorDiv.classList.remove("hidden");
    } else {
      textDiv.classList.add("hidden");
      colorDiv.classList.add("hidden");
    }
  }

  function bottomPosition() {
    let sbc = document.getElementById("sidebarContent");
    if (sbc.clientHeight > window.innerHeight - bottom.clientHeight) {
      bottom.style.position = "static";
      bottom.style.padding = 0;
    } else {
      bottom.style.position = "absolute";
      bottom.style.padding = "inherit";
    }
  }

  window.addEventListener("resize", bottomPosition);

  function setMenuWidths() {
    ["games", "teacher"].forEach(group => document.getElementById(group + "Menu").style.left = document.getElementById(group + "Tab").getBoundingClientRect().left + "px"); //Give menu same X position as tab
  }

  function getUsername() {
    let nameBox = document.getElementById("name");
    let oldHeight = bottom.clientHeight;
    nameBox.innerText = username;
    let meRes = getResponse("/getme");
    let myPerms = meRes.perms;
    let guestBox = document.getElementById("guest");
    myPerms == 3 ? guestBox.innerText = "(guest)" : guestBox.innerText = null;
    if (bottom.clientHeight > oldHeight) shorten(bottom, oldHeight, nameBox);
    else nameBox.removeAttribute("title");
  }

  function shorten(container, maxHeight, text) {
    //Set title to original string
    let original = text.innerText;
    //Remove characters while string is too long
    while (container.clientHeight > maxHeight) text.innerText = text.innerText.substring(0, text.innerText.length - 2) + "…";
    text.title = original;
    text.style.cursor = "help";
  }

  Array.from(thumbButtons).forEach((button, i) => {
    button.addEventListener("keydown", event => {
      if (event.code == "Enter") {
        thumbsVote(i);
      }
    });
  });

  Array.from(letterButtons).forEach((button, i) => {
    button.addEventListener("keydown", event => {
      if (event.code == "Enter") {
        letterVote(i);
      }
    });
  });

  function thumbsVote(thumb) {
    if (chosenThumb === thumb) {
      chosenThumb = false;
      removeHighlight("thumbButton" + thumb);
      request.open("GET", "/tutd?thumb=oops");
    } else {
      chosenThumb = thumb;
      if (thumb == 0) {
        request.open("GET", "/tutd?thumb=up");
      } else if (thumb == 1) {
        request.open("GET", "/tutd?thumb=wiggle");
      } else if (thumb == 2) {
        request.open("GET", "/tutd?thumb=down");
      }
      //Highlight selected button and reset others
      Array.from(thumbButtons).forEach((button, i) => {
        if (i == thumb) highlight("thumbButton" + thumb);
        else removeHighlight("thumbButton" + i);
      });
    }
    request.send();
  }

  function letterVote(letter) {
    if (chosenLetter === letter) {
      chosenLetter = false;
      removeHighlight("letterButton" + letter);
      request.open("GET", "/survey?vote=oops");
    } else {
      chosenLetter = letter;
      if (letter == 0) {
        request.open("GET", "/survey?vote=a");
      } else if (letter == 1) {
        request.open("GET", "/survey?vote=b");
      } else if (letter == 2) {
        request.open("GET", "/survey?vote=c");
      } else if (letter == 3) {
        request.open("GET", "/survey?vote=d");
      }
      //Highlight selected button and reset others
      Array.from(letterButtons).forEach((button, i) => {
        if (i == letter) highlight("letterButton" + letter);
        else removeHighlight("letterButton" + i);
      });
    }
    request.send();
  }

  function updateVotes() { //Make sure displayed vote matches actual vote, for example if new poll is started or user reloads
    let res = getResponse("/getme");
    let thumb;
    if (res.thumb == "up") thumb = 0;
    else if (res.thumb == "wiggle") thumb = 1;
    else if (res.thumb == "down") thumb = 2;
    else thumb = false;
    let letter;
    if (res.survey == "a") letter = 0;
    else if (res.survey == "b") letter = 1;
    else if (res.survey == "c") letter = 2;
    else if (res.survey == "d") letter = 3;
    else letter = false;
    if (thumb === false && chosenThumb !== false) thumbsVote(chosenThumb); //Remove the vote
    else if (thumb !== chosenThumb) thumbsVote(thumb);
    if (letter === false && chosenLetter !== false) thumbsVote(chosenLetter); //Remove the vote
    else if (letter !== chosenLetter) letterVote(letter);
  }

  function highlight(image) {
    let button = document.getElementById(image);
    button.src = "/static/img/home/" + image + "-highlight.png";
    button.classList.add("highlight");
    button.title = "Cancel";
  }

  function removeHighlight(image) {
    let button = document.getElementById(image);
    button.src = "/static/img/home/" + image + ".png"
    button.classList.remove("highlight");
    if (image == "thumbButton0") button.title = "Up";
    if (image == "thumbButton1") button.title = "Wiggle";
    if (image == "thumbButton2") button.title = "Down";
    if (image == "letterButton0") button.title = "Vote A";
    if (image == "letterButton1") button.title = "Vote B";
    if (image == "letterButton2") button.title = "Vote C";
    if (image == "letterButton3") button.title = "Vote D";
  }

  let sfx = eval("{{ sfx }}".replaceAll("&#39;", "'"));

  sfx.forEach(sound => document.getElementById("sfxFiles").innerHTML += "<option value='" + sound + "'></option>");

  function sendSound() {
    let soundFile = document.getElementById("sound").value;
    request.open("GET", "/sfx?file=" + soundFile);
    request.send();
    if (sfx.includes(soundFile)) document.getElementById("sound").value = null;
    else alert("File does not exist");
  }

  document.getElementById("sound").addEventListener("keydown", event => {
    if (event.code == "Enter") sendSound();
  });

  document.getElementById("volume").addEventListener("input", () => {
    let volume = document.getElementById("volume").value;
    if (volume == 0 || volume == 1) volume += ".0";
    document.getElementById("volNumber").innerText = volume;
  });

  let bgm = eval("{{ bgm }}".replaceAll("&#39;", "'"));

  bgm.forEach(song => document.getElementById("bgmFiles").innerHTML += "<option value='" + song + "'></option>");

  function randomBGM() {
    document.getElementById("music").value = bgm[Math.floor(Math.random() * bgm.length)];
  }

  function sendMusic() {
    let musicFile = document.getElementById("music").value;
    let volume = document.getElementById("volume").value;
    if (volume == 0 || volume == 1) volume += ".0";
    request.open("GET", "/bgm?file=" + musicFile + "&volume=" + volume);
    request.send();
    if (bgm.includes(musicFile)) document.getElementById("music").value = null;
    else alert("File does not exist");
  }

  document.getElementById("music").addEventListener("keydown", event => {
    if (event.code == "Enter") sendMusic();
  });

  document.getElementById("nowPlayingTitle").innerText = "aaa";

  function nowPlaying() {
    //Get current song from server
    let res = getResponse("/getbgm");
    let songName = res.bgm;

    let np = document.getElementById("nowPlaying");
    let npTitle = document.getElementById("nowPlayingTitle");

    //If a song is currently playing
    if (songName) {
      //Show "Now Playing"
      np.classList.remove("hidden");
      npTitle.innerText = songName;
      if (np.clientHeight > 21) shorten(np, 21, npTitle);
      else np.removeAttribute("title");
    }
    //If no song is playing, hide
    else np.classList.add("hidden");
  }

  function stopMusic() {
    request.open("GET", "/bgmstop");
    request.send();
  }

  function sendText() {
    let text = document.getElementById("text").value;
    //Replace spaces with underscores
    text = text.replace(/\s/g, "_");
    //If input is blank, replace with underscore
    if (!text) text = "_";
    request.open("GET", "/say?phrase=" + text);
    request.send();
    document.getElementById("text").value = null;
  }

  document.getElementById("text").addEventListener("keydown", event => {
    if (event.code == "Enter") sendText();
  });

  function hideSegment() {
    segment = false;
    document.getElementById("segment").classList.add("hidden");
  }

  function showSegment() {
    segment = true;
    document.getElementById("segment").classList.remove("hidden");
  }

  function validNumber(el) {
    //Convert value to integer within range
    let number = parseInt(el.value);
    if (number < el.min || isNaN(number)) el.value = el.min;
    else if (number > el.max) el.value = el.max;
    else el.value = number;
  }

  function hideColor2() {
    gradient = false;
    document.getElementById("color1Heading").classList.add("hidden");
    document.getElementById("color2Div").classList.add("hidden");
  }

  function showColor2() {
    gradient = true;
    document.getElementById("color1Heading").classList.remove("hidden");
    document.getElementById("color2Div").classList.remove("hidden");
  }

  function sendColor() {
    let start = document.getElementById("segmentStart").value;
    let end = document.getElementById("segmentEnd").value;
    let hex1 = document.getElementById("color1").value;
    let hex2 = document.getElementById("color2").value;
    if (!segment) {
      start = 0;
      end = 240;
    }
    if (!gradient) hex2 = hex1;
    request.open("GET", "/segment?start=" + start + "&end=" + end + "&hex=" + hex1 + "&hex2=" + hex2);
    request.send();
    document.getElementById("segmentStart").value = 0;
    document.getElementById("segmentEnd").value = 240;
  }

  function feedback() {
    let addresses = "csmith@ytech.edu,john2022026@live.ytech.edu,chris2023608@live.ytech.edu,john2023219@live.ytech.edu,jaysi2023227@live.ytech.edu";
    window.open(`mailto:${addresses}?subject=Formbar Feedback`);
  }

  function openPage(page) {
    innerPage.contentWindow.location = "/" + page;
    Array.from(menus).forEach(menu => menu.classList.add("hidden"));
  }

  function pageOpened(path) {
    let content = innerPage.contentWindow.document.body.innerHTML;
    let tabs = document.querySelectorAll(".tab");
    let tabEl = document.getElementById(path.substring(1) + "Tab");
    if (!content) openPage("chat?message='Page does not exist.'");
    Array.from(tabs).forEach(tab => tab.classList.remove("open"));
    if (["/2048", "/hangman", "/minesweeper", "/speedtype", "/ttt", "/fighter"].includes(path)) document.getElementById("gamesTab").classList.add("open");
    else if (["/needshelp", "/lesson", "/settings", "/users"].includes(path)) document.getElementById("teacherTab").classList.add("open");
    if (tabEl) tabEl.classList.add("open");
    if (path == "/") openPage("chat");
    if (path == "/chat") {
      newMessages = 0;
      document.getElementById("newMessages").innerText = null;
      setMenuWidths();
      document.title = "Formbar";
    }
    /*Change page title here*/
  }

  function showMenu(name) {
    let el = document.getElementById(name + "Menu");
    menus.forEach(menu => {
      if (menu == el) {
        menu.classList.remove("hidden");
        menu.focus();
      }
    });
  }

  document.getElementById("gamesTab").onclick = () => showMenu("games");
  document.getElementById("teacherTab").onclick = () => showMenu("teacher");
  document.getElementById("gamesTab").onmousedown = function() {
    if (document.getElementById("gamesMenu") == document.activeElement) this.onclick = null;
  };
  document.getElementById("teacherTab").onmousedown = function() {
    if (document.getElementById("teacherMenu") == document.activeElement) this.onclick = null;
  };
  document.onclick = () => {
    document.getElementById("gamesTab").onclick = () => showMenu("games");
    document.getElementById("teacherTab").onclick = () => showMenu("teacher");
  }
  menus.forEach(menu => {
    menu.addEventListener("blur", function() {
      this.classList.add("hidden"); //Hide menu when user clicks elsewhere
    });
    menu.addEventListener("keydown", function() {
      if (event.code == "Escape") this.blur(); //Hide menu when Esc key pressed
    });
  });

  ws.onmessage = message => {
    let data = JSON.parse(message.data);
    if (data.type == 'message' || data.type == 'alert') {
      if (document.hidden || !innerPage.contentWindow.location.pathname == "/chat") {
        newMessages++;
        document.title = `(${newMessages}) Formbar`;
        if (innerPage.contentWindow.location.pathname != "chat") {
          document.getElementById("newMessages").innerText = "(" + newMessages + ")";
          setMenuWidths();
        }
      }
    }
  }

  document.addEventListener("visibilitychange", () => {if (!document.hidden && innerPage.contentWindow.location.pathname == "chat") document.title = "Formbar"}); //When user goes to this page, if chat is open, remove number of new messages from title
</script>
{% endblock %}
