{% extends 'header_content.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Home{% endblock %}
{% block color %}light{% endblock %}
{% block style %}
<style>
    h1 {
      color: var(--theme-color);
    }

    #content {
        width: 400px;
    }

    .container1-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container2-flex {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    .bigbutton,
    .smallbutton {
        margin: auto;
        padding: 10px;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        border: 2px solid var(--bg-dark-blue);
        background-color: var(--dark-gray);
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
        box-shadow: 8px 8px var(--dark-gray);
        cursor: pointer;
    }

    .smallbutton {
        width: 25px;
        height: 25px;
        border-radius: 10px;
        font-size: 0.6em;
    }

    .bigbutton a {
        margin: auto;
        vertical-align: middle;
    }

    .bb-green {
        background-color: #bfb;
    }

    .bb-yellow {
        background-color: #ffb;
    }

    .bb-blue {
        background-color: #bdf;
    }

    .bb-red {
        background-color: #fbb;
    }

    .bigbutton:hover,
    .smallbutton:hover {
        background-color: #ffffff;
    }

    .user {
        background-color: #cccccc;
        border: 1px solid #000000;
        border-radius: 5px;
        overflow-x: auto;
    }

    #tabcontainer {
        background-color: var(--bg-darker);
        border-radius: 5px;
        padding: 5px;
    }

    .tab {
        background-color: var(--dark-gray);
        color: white;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    .tab:nth-child(n + 2) {
        margin-top: 0;
    }

    .tab.ui-accordion-header-collapsed {
        cursor: pointer;
    }

    #studentsTab.ui-state-active {
        background-color: var(--color-gold);
    }

    #formbarTab.ui-state-active {
        background-color: var(--color-purple);
    }

    #gamesTab.ui-state-active {
        background-color: var(--color-green);
    }

    #teacherTab.ui-state-active {
        background-color: var(--color-orange);
    }

    #otherTab.ui-state-active {
        background-color: var(--color-red);
    }

    .entrylink {
        border-radius: 5px;
        margin: 0 5px 5px;
        padding: 5px;
        cursor: pointer;
        background-color: var(--light-gray);
    }

    .entrylink:hover {
        background-color: white !important;
    }

    #students.ui-accordion-content-active .entrylink {
        background-color: var(--light-yellow);
    }

    #formbar.ui-accordion-content-active .entrylink {
        background-color: var(--light-purple);
    }

    #games.ui-accordion-content-active .entrylink {
        background-color: var(--light-green);
    }

    #teacher.ui-accordion-content-active .entrylink {
        background-color: var(--light-orange);
    }

    #other.ui-accordion-content-active .entrylink {
        background-color: var(--light-red);
    }
</style>
{% endblock %}
{% block script %}
<script src="../static/jquery/external/jquery/jquery.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-ui.min.js" charset="utf-8"></script>
<script>
    $(function () {
        $("#tabcontainer").accordion({
            heightStyle: "content"
        });
    });
</script>
{% endblock %}
{% block main %}
<h1>Formbar</h1>
<div id="tabcontainer">
  <h3 id="studentsTab" class="tab">Students</h3>
  <div id="students" class="entry">
      <div class="entrylink" onclick="window.location = '/polls';">
          Poll panel (/polls)
      </div>
      <div class="entrylink" onclick="window.location = '/chat';">
          Chat (/chat)
      </div>
      <div class="entrylink" onclick="window.location = '/help';">
          Help! (/help)
      </div>
      <div class="entrylink" onclick="window.location = '/break';">
          Bathroom break (/break)
      </div>
      <div class="entrylink" onclick="window.location = '/wawd';">
          What are we doing? (/wawd)
      </div>
  </div>
  <h3 id="formbarTab" class="tab">Formbar</h3>
  <div id="formbar" class="entry">
      <div class="entrylink" onclick="window.location = '/bgm';">
          Background music (/bgm)
      </div>
      <div class="entrylink" onclick="window.location = '/sfx';">
          Sound effects (/sfx)
      </div>
      <div class="entrylink" onclick="window.location = '/advanced';">
          Advanced homepage (/advanced)
      </div>
      <div class="entrylink" onclick="window.location = '/setdefault';">
          Set default homepage (/setdefault)
      </div>
      <div class="entrylink" onclick="window.location = '/virtualbar';">
          Virtual bar (/virtualbar)
      </div>
  </div>
  <h3 id="gamesTab" class="tab">Games</h3>
  <div id="games" class="entry">
      <div class="entrylink" onclick="window.location = '/games/2048';">
          2048 (/games/2048)
      </div>
      <div class="entrylink" onclick="window.location = '/games/bitshifter';">
          Bitshifter (/games/bitshifter)
      </div>
      <div class="entrylink" onclick="window.location = '/games/hangman';">
          Hangman (/games/hangman)
      </div>
	  <div class="entrylink" onclick="window.location = '/games/idle';">
          Idle Business (/games/idle)
      </div>
      <div class="entrylink" onclick="window.location = '/games/minesweeper';">
          Minesweeper (/games/minesweeper)
      </div>
      <div class="entrylink" onclick="window.location = '/games/speedtype';">
          Speed Typer (/games/speedtype)
      </div>
      <div class="entrylink" onclick="window.location = '/games/ttt';">
          Tic-tac-toe (/games/ttt)
      </div>
      <div class="entrylink" onclick="window.location = '/games/towerdefense';">
          Tower Defense (/games/towerdefense)
      </div>
      <div class="entrylink" onclick="window.location = '/games/fighter';">
          Turn-Based Fighter (/games/fighter)
      </div>
      <div class="entrylink" onclick="window.location = '/games/wordle';">
          Wordle (/games/wordle)
      </div>
      <div class="entrylink" onclick="window.location = '/games/flashcards';">
		Flashcards (/games/flashcards)
      </div>
      <div class="entrylink" onclick="window.location = '/leaderboards';">
          Leaderboards (/leaderboards)
      </div>
  </div>
  <h3 id="teacherTab" class="tab">Teacher</h3>
  <div id="teacher" class="entry">
      <div class="entrylink" onclick="window.location = '/controlpanel';">
          Teacher controls (/controlpanel)
      </div>
      <div class="entrylink" onclick="window.location = '/users';">
          User accounts (/users)
      </div>
      <div class="entrylink" onclick="window.location = '/lesson';">
          Lesson (/lesson)
      </div>
      <div class="entrylink" onclick="window.location = '/debug';">
          Debug data (/debug)
      </div>
  </div>
  <h3 id="otherTab" class="tab">Other</h3>
  <div id="other" class="entry">
      <div class="entrylink" onclick="window.location = '/profile';">
          My profile (/profile)
      </div>
      <div class="entrylink" onclick="window.location = '/logout';">
          Log out (/logout)
      </div>
      <div class="entrylink" onclick="window.location = '/changepassword';">
          Change password (/changepassword)
      </div>
      <div class="entrylink" onclick="window.location = '/usermanual';">
          User Manual (/usermanual)
      </div>
      <div class="entrylink" onclick="window.location = '/debug';">
          API Debug (/debug)
      </div>
      <div class="entrylink" onclick="window.open('https://github.com/csmith1188/formbar/issues/new');">
          Send feedback 🡆
      </div>
  </div>
</div>
{% endblock %}