{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Login{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  body {
    text-align: center;
  }

  button {
    margin: 16px 0;
  }

  input {
    font-size: 20px !important;
    width: 256px;
    height: 36px !important;
    box-sizing: border-box;
    margin-top: 16px;
  }
</style>
{% endblock %}

<!-- Main content here -->
{% block main %}
<button id="logInButton" class="pressed" onclick="changeForm(this);">Log in</button>
<button id="newAccountButton" onclick="changeForm(this);">New account</button>
<button id="guestButton" onclick="changeForm(this);">Use as guest</button>
<form action="login" method="post">
    <input type="text" id="usernameBox" name="username" class="box" placeholder="Name" value=""><br>
    <input type="password" id="passwordBox" name="password" class="box" placeholder="Password" value=""><br>
    <input type="hidden" id="userTypeBox" name="userType" value="login">
    <input type="hidden" id="forwardBox" name="forward">
    <input type="hidden" id="botBox" name="bot" value="False">
    <input type="submit" id="submitButton" class="button unselectable" value="Log In" onsubmit="return false;">
</form>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
  <script type="text/javascript">
    const forward = urlParams.get('forward');
    if (forward) document.getElementById('forwardBox').value = forward;
    else document.getElementById('forwardBox').value = null;

    function changeForm(el) {
      let liButton = document.getElementById("logInButton");
      let naButton = document.getElementById("newAccountButton");
      let gButton = document.getElementById("guestButton");
      let passwordBox = document.getElementById("passwordBox");
      let utBox = document.getElementById("userTypeBox");

      [liButton, naButton, gButton].forEach(button => button == el ? button.classList.add("pressed") : button.classList.remove("pressed"));
      if (el == gButton) {
        passwordBox.value = null;
        passwordBox.classList.add("hidden");
      } else {
        passwordBox.classList.remove("hidden");
      }

      if (el == liButton) utBox.value = "login";
      else if (el == naButton) utBox.value = "new";
      else if (el == gButton) utBox.value = "guest";
    }

    //Prevent submission if a field is blank
    let ub = document.getElementById("usernameBox");
    let pb = document.getElementById("passwordBox");
    let sb = document.getElementById("submitButton");
    [ub, pb].forEach(el => {
      el.oninput = () => {
        if (ub.value && pb.value) {
          sb.classList.remove("unselectable");
          sb.onsubmit = () => true;
        } else {
          sb.classList.add("unselectable");
          sb.onsubmit = () => false;
        }
      }
    });
</script>
{% endblock %}
