{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Tickets{% endblock %}

<!-- Extra style declarations here -->
{% block style %}<meta http-equiv="refresh" content="5">{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
<h1 style="color: blue">Ask For Help</h1>
{{ table|safe }}

{% endblock %}
