{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Help Tickets{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<meta http-equiv="refresh" content="5">
<style>
  body {
    text-align: center;
  }

  button {
    margin-left: 4px;
  }

  .ticket {
    display: block;
    margin: -4px auto;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}orange{% endblock %}

<!-- Main content here -->
{% block main %}
  <h1>Help tickets</h1>
  <div id="list">
    {{ list|safe }}
  </div>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}
