{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}{{ username }}'s profile{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}
<h1>{{ username }}'s profile</h1>
<ul>
    <li><b>Permissions:</b> {{ perms }}</li>
    <li><b>Bot:</b> {{ bot }}</li>
</ul>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
  <script>
    window.onload = async () => {
      let me = await getResponse("/getme");
      if ("{{ username }}" == me.name) {
        document.body.innerHTML += `
          <h2>High scores</h2>
          <ul>
              <li><b>2048:</b> ${localStorage.getItem("2048HighScore") || 0}</li>
              <li><b>Hangman:</b> ${localStorage.getItem("hangmanHighScore") || 0}</li>
          </ul>
        `;
      }
    };
  </script>
{% endblock %}
