<!-- Original Site -->
<!-- https://www.geeksforgeeks.org/design-a-typing-speed-test-game-using-javascript/ -->

{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Settings{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style media="screen">
  h1, h3, form {
    margin: 0;
  }

  h2 {
    margin: 40px 0 8px;
  }

  button {
    margin-right: 4px;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}orange{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script type="text/javascript">
    function getSettings() {

    }

    function sendStudents() {
        let input = document.getElementById('studentNum');
        if (document.getElementById("autoStudents").checked) {
          studentNum = 0;
          input.setAttribute("readonly", "true");
          updateStudents();
        } else {
          studentNum = parseInt(input.value);
          if (studentNum < input.min || isNaN(studentNum)) studentNum = input.min;
          if (studentNum > input.max) studentNum = input.max;
          input.value = studentNum;
          input.removeAttribute("readonly");
        }
        request.open("GET", "/settings?students=" + studentNum);
        // request.onload = function() {
        // console.log(request.response);
        // };
        request.send();
    }

    sendStudents();

    function updatePerm(el) {
        request.open("GET", el.value);
        request.onload = function() {
            // console.log(request.response);
        };
        request.send();
    }

    async function updateStudents() {
        if (document.getElementById("autoStudents").checked) {
          let res = await getResponse("/getstudents");
          document.getElementById("studentNum").value = Object.keys(res).length;
        }
    }

    updateStudents();
    setInterval(updateStudents, 1000);

    function changeMode() {
      if (document.getElementById("poll").checked) {
        request.open('GET', '/settings?barmode=poll');
        request.send();
        document.getElementById("pollType").classList.remove("hidden");
      } else {
        document.getElementById("pollType").classList.add("hidden");
      }
      if (document.getElementById("progress").checked) {
        request.open('GET', '/settings?barmode=progress');
        request.send();
      }
      if (document.getElementById("countdown").checked) {
        alert("This feature is not available yet.");
        document.getElementById("playtime").checked = true;
        ////document.getElementById("countdownTime").classList.remove("hidden");
      } else {
        document.getElementById("countdownTime").classList.add("hidden");
      }
      if (document.getElementById("playtime").checked) {
        request.open('GET', '/settings?barmode=playtime');
        request.send();
      }
    }

    function changePollType() {
      if (document.getElementById("thumbs").checked) document.getElementById("pollDescription").innerText = "Students can choose between thumbs up, thumbs down, and wiggle.";
      else if (document.getElementById("letters").checked) document.getElementById("pollDescription").innerText = "Students can choose between A, B, C, and D.";
      else if (document.getElementById("textResponse").checked) document.getElementById("pollDescription").innerHTML = "Students will type out short answers. View responses <a href='/users'>here</a>.";
    }

    function startPoll() {
      if (document.getElementById("thumbs").checked) {
        request.open('GET', '/startpoll?type=tutd');
        request.send();
      } else if (document.getElementById("letters").checked) {
        request.open('GET', '/startpoll?type=abcd');
        request.send();
      } else if (document.getElementById("textResponse").checked) {
        request.open('GET', '/startpoll?type=text');
        request.send();
      }
    }

    function resetPerms() {
        document.getElementById("saypermsDrop").value = "/settings?say=2";
        document.getElementById("gamespermsDrop").value = "/settings?games=2";
        document.getElementById("barpermsDrop").value = "/settings?bar=0";
        document.getElementById("sfxpermsDrop").value = "/settings?sfx=0";
        document.getElementById("bgmpermsDrop").value = "/settings?bgm=0";
        document.getElementById("apipermsDrop").value = "/settings?api=3";
        let dropdowns = ["saypermsDrop", "barpermsDrop", "sfxpermsDrop", "bgmpermsDrop", "gamespermsDrop", "apipermsDrop"];
        dropdowns.forEach(id => updatePerm(document.getElementById(id)));
    }


    (async () => {
      let modeRes = await getResponse("/getmode");
      let mode = modeRes.mode;
      if (mode == "tutd" || mode == "poll") {
        document.getElementById("poll").checked = true;
        document.getElementById("pollType").classList.remove("hidden");
        document.getElementById("thumbs").checked = true;
        changePollType();
      } else if (mode == "abcd") {
        document.getElementById("poll").checked = true;
        document.getElementById("pollType").classList.remove("hidden");
        document.getElementById("letters").checked = true;
        changePollType();
      } else if (mode == "text") {
        document.getElementById("poll").checked = true;
        document.getElementById("pollType").classList.remove("hidden");
        document.getElementById("textResponse").checked = true;
        changePollType();
      } else if (mode == "progress") {
        document.getElementById("progress").checked = true;
      } else if (mode == "countdown") {
        document.getElementById("countdown").checked = true;
        document.getElementById("countdownTime").classList.remove("hidden");
      } else if (mode == "playtime") {
        document.getElementById("playtime").checked = true;
      }
    })();
</script>
{% endblock %}

<!-- Main content here -->
{% block main %}
<h1>Settings</h1>

<h2>Number of students</h2>
<input type="number" id="studentNum" class="line" onchange="sendStudents();" name="studentNum" min="1" max="30">&nbsp;&nbsp;
<input type="checkBox" id="autoStudents" checked onchange="sendStudents();"><label for="autoStudents">Auto</label><br>

<div onchange="changeMode();">
    <h2>Bar mode</h2>
    <label>
      <div>
        <input type="radio" id="poll" name="mode"><h3 style="display: inline;">Poll</h3><br>
        <span style="margin-left: 21px;">Students' votes are displayed on the bar.</span><br>
      </div>
    </label>
    <form id="pollType" class="hidden" style="margin: 8px 0 0 21px;" onchange="changePollType();">
      Type:
      <input type="radio" id="thumbs" name="type" checked style="margin-left: 8px;"><label for="thumbs">Thumbs</label>
      <input type="radio" id="letters" name="type" style="margin-left: 8px;"><label for="letters">Letters</label>
      <input type="radio" id="textResponse" name="type" style="margin-left: 8px;"><label for="textResponse">Text response</label><br>
      <span id="pollDescription">Students can choose between thumbs up, thumbs down, and wiggle</span><br>
      <input type="button" class="button inline popOut" value="Start new poll" style="margin-top: 8px;" onclick="startPoll();">
    </form>
    <br>

    <label>
      <div>
        <input type="radio" id="progress" name="mode"><h3 style="display: inline;">Progess</h3><br>
        <span style="margin-left: 21px;">Description</span><br>
      </div>
    </label>
    <br>

    <label>
      <div>
        <input type="radio" id="countdown" name="mode"><h3 style="display: inline;">Countdown</h3><br>
        <span style="margin-left: 21px;">Set a countdown timer.</span><br>
      </div>
    </label>
    <form action="/countdown" method="post" id="countdownTime" class="hidden" style="margin: 8px 0 0 21px;">
      Time:
      <input type="number" class="line" value="5" min="0" max="59"> minutes
      <input type="number" class="line" value="0" min="0" max="59"> seconds<br>
      <input type="submit" class="button inline popOut" value="Start timer" style="margin-top: 8px;">
    </form>
    <br>

    <label>
      <div>
        <input type="radio" id="playtime" name="mode"><h3 style="display: inline;">Playtime</h3><br>
        <span style="margin-left: 21px;">Students can change the colors of the bar.</span><br>
      </div>
    </label>
</div>

<div id="perms">
    <h2>Permissions</h2>
    <h3>Chat</h3>
    The ability to send chat messages. All users will still be able to read others' messages.<br>
    <select onchange="updatePerm(this)" id="saypermsDrop" name="saypermsDrop" style="margin-top: 8px;">
        <option value="/settings?say=0">Teacher</option>
        <option value="/settings?say=1">Mod</option>
        <option value="/settings?say=2" selected>Student</option>
        <option value="/settings?say=3">Anyone</option>
    </select><br>
    <br>
    <h3>Games</h3>
    The ability to play any games<br>
    <select onchange="updatePerm(this)" id="gamespermsDrop" name="gamespermsDrop" style="margin-top: 8px;">
        <option value="/settings?games=0">Teacher</option>
        <option value="/settings?games=1">Mod</option>
        <option value="/settings?games=2" selected>Student</option>
        <option value="/settings?games=3">Anyone</option>
    </select><br>
    <br>
    <h3>LED bar</h3>
    The ability to change the appearance of the Formbar. Does not affect polls.<br>
    <select onchange="updatePerm(this)" id="barpermsDrop" name="barpermsDrop" style="margin-top: 8px;">
        <option value="/settings?bar=0" selected>Teacher</option>
        <option value="/settings?bar=1">Mod</option>
        <option value="/settings?bar=2">Student</option>
        <option value="/settings?bar=3">Anyone</option>
    </select><br>
    <br>
    <h3>Sounds</h3>
    The ability to play short audio clips<br>
    <select onchange="updatePerm(this)" id="sfxpermsDrop" name="sfxpermsDrop" style="margin-top: 8px;">
        <option value="/settings?sfx=0" selected>Teacher</option>
        <option value="/settings?sfx=1">Mod</option>
        <option value="/settings?sfx=2">Student</option>
        <option value="/settings?sfx=3">Anyone</option>
    </select><br>
    <br>
    <h3>Music</h3>
    The ability to play background music<br>
    <select onchange="updatePerm(this)" id="bgmpermsDrop" name="bgmpermsDrop" style="margin-top: 8px;">
        <option value="/settings?bgm=0" selected>Teacher</option>
        <option value="/settings?bgm=1">Mod</option>
        <option value="/settings?bgm=2">Student</option>
        <option value="/settings?bgm=3">Anyone</option>
    </select><br>
    <br>
    <h3>API</h3>
    The ability to access data from the server<br>
    <b>Warning: Changing API permissions may break some features.</b><br>
    <select onchange="updatePerm(this)" id="apipermsDrop" name="apipermsDrop" style="margin-top: 8px;">
        <option value="/settings?api=0">Teacher</option>
        <option value="/settings?api=1">Mod</option>
        <option value="/settings?api=2">Student</option>
        <option value="/settings?api=3" selected>Anyone</option>
    </select><br>
    <br>
    <button class="inline popOut" onclick="resetPerms();">Reset permissions</button>
</div>

<h2>Lock Formbar</h2>
Only whitelisted users will be able to make changes.<br>
<input type="checkBox" id="lock" onchange="request.open('GET', `/settings?locked=${this.value}`); request.send();"><label for="lock">Lock</label><br>

<h2>Blind results</h2>
Results won't be shown until the poll is complete.<br>
<input type="checkBox" id="blind" onchange="request.open('GET', `/settings?blind=${this.value}`); request.send();"><label for="blind">Hide results</label><br>

<h2>Show missing votes</h2>
When votes are missing, there will be empty spaces on the bar.<br>
<input type="checkBox" id="showMissing" checked onchange="request.open('GET', `/settings?showinc=${this.value}`); request.send();"><label for="showMissing">Show</label><br>

<h2>Restart session</h2>
<button class="inline popOut" onclick="request.open('GET', '/flush'); request.send();">Remove all students and restart</button><br>

<h2>Clear data</h2>
<b>Warning: Deleting this data is permanent.</b><br>
<button class="inline popOut" style="margin-top: 12px;" onclick="request.open('GET', '/cleartable?table=messages'); request.send();">Clear all chat messages</button>
<button class="inline popOut" style="margin-top: 12px;" onclick="request.open('GET', '/cleartable?table=scores'); request.send();">Clear all game scores</button>
<button class="inline popOut" style="margin-top: 12px;" onclick="request.open('GET', '/cleartable?table=users'); request.send();">Clear all user accounts</button>
{% endblock %}
