{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Settings{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<link rel="stylesheet" href="../static/css/tabs.css">
<style media="screen">
    #perms {
        background-color: gray;
        border-radius: 5px;
        border: solid black 2px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
    }

    #studentBox {
        padding: 5px;
        margin: 5px;
    }

    .up {
        background-color: #ccffcc;
        color: black;
    }

    .wiggle {
        background-color: #ffffcc;
        color: black;
    }

    .down {
        background-color: #ffcccc;
        color: black;
    }
    .user {
      margin-left: 5px;
      margin-right: 5px;
    }
    .tab {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .help {
      color: #FF0000;
    }
</style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script src="../static/jquery/external/jquery/jquery.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-ui.min.js" charset="utf-8"></script>
<script>
    $(function() {
        $("#tabcontainer").accordion({
          active: false,
          collapsible: true,
          animate: {
            duration: 100
          }
        });
    });
</script>
<script type="text/javascript">
    function getSettings() {

    }

    function sendStudents() {
        studentNum = document.getElementById('studentNum').value;
        let request = new XMLHttpRequest();
        request.open("GET", "/settings?students=" + studentNum);
        // request.onload = function() {
        // console.log(request.response);
        // };
        request.send();
    }

    function updatePerm(el) {
        console.log("GET", el.value);
        let request = new XMLHttpRequest();
        request.open("GET", el.value);
        request.onload = function() {
            // console.log(request.response);
        };
        request.send();
    }

    function upbLabel(el) {
        let newCount = el.value;
        if (newCount) document.getElementById('studentNumButton').innerHTML = "Update Students (" + newCount + ")"
        else document.getElementById('studentNumButton').innerHTML = "Update Students (Automatic)"
    }

    function getStudentData() {

    }

    var studentData;
    var oldStudentData;
    var permNames = ['Teacher', 'Assistant', 'Student', 'Guest', 'Excluded']


    function checkUpdates(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.onload = function() {
            studentData = xhr.response;
        };
        xhr.send();
    }

    function banip(name) {
      if (confirm("Are you sure you want to ban this user's DEVICE?")) {
        window.location.href = "/users?name=" + name + "&action=ban";
      }
    }

    setInterval(function() {
        checkUpdates('/getstudents');
        let studentBox = document.getElementById('tabcontainer');
        if (studentData == undefined) {
          studentBox.innerHTML = 'Cannot get students. Are you logged in and connected?';
        } else if (studentData != oldStudentData) {
            studentBox.innerHTML = '';
            oldStudentData = studentData;
            let studentList = JSON.parse(studentData);
            console.log(studentList);
            //Loop through each student in the list
            for (student in studentList) {
                let newStudent = document.createElement('h3');
                newStudent.innerHTML = studentList[student].name;
                newStudent.classList.add('tab');
                let newDetails = document.createElement('div');
                newDetails.classList.add('user');
                newDetails.innerHTML += permNames[studentList[student]['perms']];
                newDetails.innerHTML += "	&nbsp; ";
                newDetails.innerHTML +=
                    `
                    <select onchange="updatePerm(this)" id="userpermsDrop" name="userpermsDrop">
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=0">${permNames[0]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=1">${permNames[1]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=2">${permNames[2]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=3" selected="selected">${permNames[3]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=3">${permNames[4]}</option>
                    </select>
                    `
                //Check to see if the student's complete flag is checked
                if (studentList[student]['complete']) var checked = 'checked'; else var checked = '';
                newDetails.innerHTML += `[<input type="checkbox" disabled ${checked}>]`
                //Check the results of the student's current progress bar
                if (studentList[student]['progress'] && studentList[student]['progress'].length) {
                    let dotbox = document.createElement('div');
                    dotbox.style.styleFloat = 'right';
                    dotbox.style.cssFloat = 'right';
                    let newProg = 0;
                    let newProgMax = 0;
                    for (let i = 0; i < studentList[student]['progress'].length; i++) {
                        newProgMax++;
                        var img = document.createElement("img");
                        img.width = 16;
                        img.height = 16;
                        if (studentList[student]['progress'][i]) {
                          newProg++;
                          img.src = "{{ url_for('static', filename='img/dot_green.png') }}";
                        } else {
                          img.src = "{{ url_for('static', filename='img/dot_red.png') }}";
                        }
                        dotbox.appendChild(img)
                    }
                    newStudent.appendChild(dotbox)
                    newDetails.innerHTML += ` [Prog: ${newProg}/${newProgMax}]`
                }
                //Get the results of the student's current quiz
                if (studentList[student]['quizRes'] && studentList[student]['quizRes'].length) {
                  let dotbox = document.createElement('div');
                  dotbox.style.styleFloat = 'right';
                  dotbox.style.cssFloat = 'right';
                    let newQuiz = 0;
                    let newQuizMax = 0;
                    for (let i = 0; i < studentList[student]['quizRes'].length; i++) {
                        newQuizMax++;
                        if (studentList[student]['quizRes'][i]) {
                          var img = document.createElement("img");
                          img.width = 16;
                          img.height = 16;
                          if (studentList[student]['quizRes'][i]) {
                            newQuiz++;
                            img.src = "{{ url_for('static', filename='img/dot_green.png') }}";
                          } else {
                            img.src = "{{ url_for('static', filename='img/dot_red.png') }}";
                          }
                          dotbox.appendChild(img)
                    }
                  }
                    newDetails.innerHTML += ` [Quiz: ${newQuiz}/${newQuizMax}]`
                }
                //Change student color according to thumb response
                if (studentList[student]['thumb'] == 'up') newStudent.classList.add('up')
                else if (studentList[student]['thumb'] == 'wiggle') newStudent.classList.add('wiggle')
                else if (studentList[student]['thumb'] == 'down') newStudent.classList.add('down')
                else {
                    newDetails.classList.remove('up')
                    newDetails.classList.remove('wiggle')
                    newDetails.classList.remove('down')
                }
                studentBox.appendChild(newStudent)
                studentBox.appendChild(newDetails)
                $( "#tabcontainer" ).accordion( "refresh" );
                newDetails.innerHTML += "	&nbsp; ";
                newDetails.innerHTML += `<a href="users?name=${studentList[student]['name']}&action=kick">Remove</a>`;
                newDetails.innerHTML += "	&nbsp; ";
                newDetails.innerHTML += `<a href="#" onclick="banip('${studentList[student]['name']}')">Ban Device</a>`;
                if (studentList[student]['help'] == true) {
                  newStudent.classList.add('help')
                  newDetails.innerHTML += "	&nbsp; ";
                  newDetails.innerHTML += `<a href=\'/needshelp?remove=${studentList[student]['name']}\'>Clear Help</a>`;
                }
            }
        }
    }, 1000);
</script>
{% endblock %}

<!-- Main content here -->
{% block main %}
<h1 style="color: blue">Formbar Setup</h1>


<div>
    <form action="settings" method="post">
    <input type="submit" value="Start New TUTD/Survey">
    <input type="range" id="studentNum" oninput="upbLabel(this)" name="studentNum" min="0" max="30" style="width:200px;">
    <button type="button" id="studentNumButton" onclick="sendStudents()">Update Students</button>
  </form>
</div>
<br>
<div id="perms">
    <b>Permissions:</b>
    <div class="perBox">
        <b>API</b><br>
        <select onchange="updatePerm(this)" id="apipermsDrop" name="apipermsDrop">
            <option value="" disabled selected style="display:none;">(Anyone)</option>
            <option value="/settings?api=0">Teacher</option>
            <option value="/settings?api=1">Assistant</option>
            <option value="/settings?api=2">Student</option>
            <option value="/settings?api=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Sounds</b><br>

        <select onchange="updatePerm(this)" id="sfxpermsDrop" name="sfxpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?sfx=0">Teacher</option>
            <option value="/settings?sfx=1">Assistant</option>
            <option value="/settings?sfx=2">Student</option>
            <option value="/settings?sfx=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Music</b><br>

        <select onchange="updatePerm(this)" id="bgmpermsDrop" name="bgmpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?bgm=0">Teacher</option>
            <option value="/settings?bgm=1">Assistant</option>
            <option value="/settings?bgm=2">Student</option>
            <option value="/settings?bgm=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>Phrases</b><br>

        <select onchange="updatePerm(this)" id="saypermsDrop" name="saypermsDrop">
            <option value="" disabled selected style="display:none;">(Anyone)</option>
            <option value="/settings?say=0">Teacher</option>
            <option value="/settings?say=1">Assistant</option>
            <option value="/settings?say=2">Student</option>
            <option value="/settings?say=3">Anyone</option>
        </select>
    </div>
    <div class="perBox">
        <b>LED Bar</b><br>

        <select onchange="updatePerm(this)" id="barpermsDrop" name="barpermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?bar=0">Teacher</option>
            <option value="/settings?bar=1">Assistant</option>
            <option value="/settings?bar=2">Student</option>
            <option value="/settings?bar=3">Anyone</option>
        </select>
    </div>
    <br>
    <div class="perBox">
        <b>games</b><br>
        <select onchange="updatePerm(this)" id="gamespermsDrop" name="gamespermsDrop">
            <option value="" disabled selected style="display:none;">(Teacher)</option>
            <option value="/settings?games=0">Teacher</option>
            <option value="/settings?games=1">Assistant</option>
            <option value="/settings?games=2">Student</option>
            <option value="/settings?games=3">Anyone</option>
        </select>
    </div>
</div>
<div id="tabcontainer">
</div>
<div>
    <table border=1>
        <tr>
            <td><b>Bar Mode: </b></td>
            <td><a href="/settings?barmode=thumbs">Thumbs</a></td>
            <td><a href="/settings?barmode=survey">Survey</a></td>
            <td><a href="/settings?barmode=quiz">Quiz</a></td>
            <td><a href="/settings?barmode=progress">Progress</a></td>
            <td><a href="/settings?barmode=playtime">Playtime</a></td>
        </tr>
    </table>
</div>
<br>
<div>
    <table border=1>
        <tr>
            <td colspan=2><b>Settings</b></td>
        </tr>
        <tr>
            <td colspan=2>Only whitelisted IPs can make changes</td>
        </tr>
        <tr>
            <td><a href="/settings?locked=true">Locked</a></td>
            <td><a href="/settings?locked=false">Unlocked</a></td>
        </tr>
        <tr>
            <td colspan=2>Hide or show results until complete</td>
        </tr>
        <tr>
            <td><a href="/settings?blind=true">Blind Results</a></td>
            <td><a href="/settings?blind=false">Live Results</a></td>
        </tr>
        <tr>
            <td colspan=2>Show incomplete bar when votes are missing</td>
        </tr>
        <tr>
            <td><a href="/settings?showinc=true">Show empty spaces</a></td>
            <td><a href="/settings?showinc=false">Fill bar</a></td>
        </tr>
        <tr>
            <td colspan=2>Clear out submissions</td>
        </tr>
        <tr>
            <td colspan=2><a href="/flush">Remove All Students</a></td>

        </tr>
    </table>
</div>
{% endblock %}
