body {
  text-align: center;
  background-color: #282828;
  color: white;
}

h1 {
  color: cyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  color: darkorange;
}

#header {
  text-align: center;
  padding-bottom: 30px;
  margin: auto;
  width: 550px;
}

#header li {
  text-align: left;
}

#line2 {
  display: block;
  text-align: left;
  margin-left: 20px;
}

#multiplechoice {
  text-align: left;
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  top: 100px;
  left: 25%;
}

#answerbox {
  /* border-color: white;
  border-style: dotted;
  text-align: center;
  margin: auto;
  width: 550px;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 25%;
  position: absolute;
  width: 350px; */
  text-align: left;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  top: 100px;
  left: 25%;
  text-align: center;
  position: absolute;
  width: 50%;
}

#cardPrompt {
  text-align: center;
  margin: 20px auto;
  width: 50%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 50px;
  left: 25%
}

#buttons {
  text-align: center;
  padding-top: 20px;
  width: 98%;
}
#results {
  text-align: center;
  margin: auto;
  left: 25%;
  width: 50%;
  text-align: center;
}

#mainBody {
  text-align: center;
  width: 50%;
  left: 25%;
}

.answerBoxFormat {
  resize: none;
}

#score {
  color: white;
  border-style: groove;
  border-color: lightgrey;
  border-width: medium;
  width: 50%;
  position: absolute;
  left: 25%
}

#scoreBox {
  margin-left: 750px;
  margin-right: 750px;
  top: 50px;
}

#mainBody {
  top: 250px;
  position: fixed;
  right: 50px;
}

/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  font: inherit;
  color: cyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 16px;
  font-size: 32px;
  border: none;
}

#dropMenu {
  position: relative;
  margin: auto;
}

#text {
  position: fixed;
  top: 150px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  bottom: 26px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  bottom: 21px;
  right: inherit;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  position: relative;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: lightgrey;
}
