{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Thumbspanel{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}


<!-- Main content here -->
{% block main %}
{{ prompt|safe }}
<h2>Survey</h2>
<div class="container1-flex">
    <div class="bigbutton bb-green" onclick="window.location = '/survey?vote=a';">
        A
    </div>
    <div class="bigbutton bb-blue" onclick="window.location = '/survey?vote=b';">
        B
    </div>
    <div class="bigbutton bb-red" onclick="window.location = '/survey?vote=c';">
        C
    </div>
    <div class="bigbutton bb-yellow" onclick="window.location = '/survey?vote=d';">
        D
    </div>
</div>
<h2>Help</h2>
<div class="bigbutton bb-red" onclick="window.location = '/help';">
    Help!<br>(/help)
</div>
{% endblock %}
