{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Poopy Checkers{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style media="screen">
    .hbar {
      background: #565c66;
      width: 120%;
      height: 3em;
      position: absolute;
      left: 0em;
      top: 0em;
      border: 0.2em solid #323842;
    }

    .uname {
      position: absolute;
      left: 0em;
      top: 0.1em;
      font-size: 2em;
      color: #8994a3;
    }

    .board {
      width: 25em;
      height: 25em;
      position: absolute;
      left: 1em;
      top: 3em;
      font-size: 2em;
      color: #8994a3;
      outline: 0.2em solid #323842;
      display: inline-block;
    }

    .square {
      width: 32.65%;
      height: 32.65%;
      font-size: 2em;
      color: #8994a3;
      outline: 0.1em solid #323842;
      display: inline-block;
    }

    img {
      height: 261.19px;
      width: 261.19px;
    }

    button {
      position: absolute;
      right: 35em;
    }

    #quickmenu {
      display: none;
    }

    #content {
      background-color: transparent;
    }
  </style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
  <div class="hbar">
    <div class="uname" id="title">PoopyCheckers: Unknown (?) vs Unknown (?)</div>
  </div>
  <div class="board" id="board">
  </div>


  <script>
    console.log({{game|safe}});
    var gameState = {{game|safe}};
    console.log(gameState);
    const player1 = {
      name: gameState.players[0],
      turn: true,
      shape: 'X',
    }
    const player2 = {
      name: gameState.players[1],
      turn: false,
      shape: 'O',
    }

    document.getElementById("title").innerHTML = "PoopyCheckers: " + player1.name + " (" + player1.shape + ") vs " + player2.name + " (" + player2.shape + ")"

    var gameboard = [
      ["none", "none", "none"],
      ["none", "none", "none"],
      ["none", "none", "none"]
    ];

    var player;

    //Place squares
    for (var i = 0; i < 9; i++) {
      const id = i;
      var square = document.createElement("div");
      square.classList.add("square");
      square.id = id;
      // var id = document.getElementById(i + 1)
      square.addEventListener('click', () => {
        move(id, "player1");
      }, false);

      var board = document.getElementById("board");
      board.appendChild(square);
      var space = document.createTextNode(" ")
      board.appendChild(space);
    }

    function move(square, playerTurn) {

      if (playerTurn == "player1") {
        if (!player1.turn) {
          console.log(player1.name + ' tried to play ' + player1.shape + ' in square ' + square + ' when it wasn\'t their turn');
          return;
        }
      } else if (playerTurn == "player2") {
        if (!player2.turn) {
          console.log(player2.name + ' tried to play ' + player2.shape + ' in square ' + square + ' when it wasn\'t their turn');
          return;
        }
      }



      //Check that the space is avaliable
      var rBox = Math.floor(square / 3);
      var cBox = square % 3;

      if (gameboard[rBox][cBox] == "none") {
        if (player1.turn) {
          player = player1;
          player1.turn = false;
          player2.turn = true;




        } else if (player2.turn) {
          player = player2;
          player1.turn = true;
          player2.turn = false;


        }

        if (player.shape == "X") {
          var x = document.createElement("img");
          x.setAttribute("src", "{{ url_for('static', filename='img/ttt/X.png') }}");

          document.getElementById(square).appendChild(x);
        } else if (player.shape == "O") {
          var o = document.createElement("img");
          o.setAttribute("src", "{{ url_for('static', filename='img/ttt/O.png') }}");

          document.getElementById(square).appendChild(o);
        }

        gameboard[rBox][cBox] = player.shape;
        console.log(player.name + ' has played ' + player.shape + ' in square ' + square);

        //Check if they won
        if (checkWin()) {
          console.log(player.name + ' has won with ' + player.shape + ' on board ' + gameboard);
          setTimeout(function() {
            alert(player.name + "(" + player.shape + ")" + " has won");
          }, 1)
        }
      } else {
        console.log(player.name + ' tried to play ' + player.shape + ' in square ' + square + ' when it wasn\'t empty');
      }



    }

    function checkWin() {
      var counter = [0, 0, 0, 0]
      //rows
      for (var r = 0; r < 3; r++) {
        //columns
        for (var c = 0; c < 3; c++) {
          if (gameboard[r][c] == player.shape) counter[0]++;
          if (gameboard[c][r] == player.shape) counter[1]++;
          if (gameboard[c][c] == player.shape) counter[2]++;
          if (gameboard[2 - c][c] == player.shape) counter[3]++;
        }
        console.log(counter);
        if (counter.includes(9)) return true;
      }
    }
    //MR Smith land
    function packMSG(type, rx, tx, content) {
      let msgOUT = {
        type: type,
        to: rx,
        from: tx,
        content: content
      }
      return msgOUT;
    }

    ws.send(JSON.stringify(packMSG('ttt', 'idot', 'you', {
      gameboard: gameboard,
      turn: player.shape
    })));

    //MAKE THE THINGIE, DECLARE IT KID
    ws = new WebSocket("ws://{{ serverIp }}:9001");

    //YOUR USERNAME BE LIKE:
    var username = "{{ username }}";

    //SEND YOUR MESSAGES TO EVERYBODY ON THE FREAKING PLANET
    var receiver = 'all';

    //WHEN THE CONNECTION OPENS
    ws.onopen = function() {};

    //WHEN THERE IS A MESSAGE
    ws.onmessage = function(message) {
      //MAKE THE MESSAGE INFO READABLE YO, IM FORKING ILLITERATE
      let data = JSON.parse(message.data);

      //TROUBLE IN TERRORIST TOWN BOIS
      if (data.type == 'ttt') {

        //THE MESSAGE SENDER
        var messageSender = data.content[user].name;

        //IF THE SENDER IS THE PERSON YOU ARE IN A LOBBY WITH
        if (messageSender == "yaboi69") {
          recieveTurn(data.content);
        }
      }
    };

    function recieveTurn(move) {
      //CHECK IF ITS THEIR TURN
      if (player2.turn) {
        //ALTER YOUR BOARD
        move(move, "player2");
      }
    }
  </script>
{% endblock %}
