{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}User List{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  .user {
    position: relative;
    left: 21px;
  }

  h3 {
    margin: 0 0 8px 0;
    padding: 4px;
  }

  button {
    margin-left: 4px;
    margin-bottom: 8px;
  }

  .icon {
    height: 1.2em;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 8px;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}orange{% endblock %}

<!-- Main content here -->
{% block main %}
<h1>Users</h1>
<button id="collapseButton" class="inline popOut">Collapse all</button>
<div id="students">
</div>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script type="text/javascript">
    let studentData = null;
    let oldStudentData;
    let permNames = ['Teacher', 'Mod', 'Student', 'Guest']
    let collapsed = false;

    collapseButton.onclick = function() {
      collapsed = !collapsed;
      let userDetails = Array.from(document.getElementsByClassName("user"));
      if (collapsed) {
        userDetails.forEach(user => user.classList.add("hidden"));
        this.innerText = "Expand all";
      } else {
        userDetails.forEach(user => user.classList.remove("hidden"));
        this.innerText = "Collapse all";
      }
    }

    function checkUpdates(url) {
        request.open('GET', url);
        request.onload = function() {
            studentData = request.response;
        };
        request.send();
    }

    function banip(name) {
      if (confirm("Are you sure you want to ban this user's DEVICE?")) {
        window.location.href = "/users?name=" + name + "&action=ban";
      }
    }

    setInterval(function() {
        checkUpdates('/getstudents');
        let studentBox = document.getElementById('students');
        if (studentData == undefined) {
          studentBox.innerHTML = 'Cannot get students. Are you logged in and connected?';
        } else if (studentData != oldStudentData) {
            studentBox.innerHTML = '';
            oldStudentData = studentData;
            let studentList = JSON.parse(studentData);
            //Loop through each student in the list
            for (student in studentList) {
                let newStudent = document.createElement('h3');
                let icons = "";

                if (studentList[student]['complete']) icons += `<img src="{{ url_for('static', filename='img/users/complete.png') }}" class="icon" title="Complete">`;

                if (studentList[student]['help'] == true) icons += `<img src="{{ url_for('static', filename='img/users/help.png') }}" class="icon" title="Help ticket">`;

                //Change student color according to thumb response
                let thumb = studentList[student]['thumb'];
                if (thumb) var thumbIcon = document.createElement("img");
                if (thumb == "up") icons += `<img src="{{ url_for('static', filename='img/users/up.png') }}" class="icon" title="Up">`;
                if (thumb == "wiggle") icons += `<img src="{{ url_for('static', filename='img/users/wiggle.png') }}" class="icon" title="Wiggle">`;
                if (thumb == "down") icons += `<img src="{{ url_for('static', filename='img/users/down.png') }}" class="icon" title="Down">`;

                //Change student letter according to survey response
                let letter = studentList[student]['letter']
                if (letter == "a") icons += `<img src="{{ url_for('static', filename='img/users/a.png') }}" class="icon" title="A">`;
                if (letter == "b") icons += `<img src="{{ url_for('static', filename='img/users/b.png') }}" class="icon" title="B">`;
                if (letter == "c") icons += `<img src="{{ url_for('static', filename='img/users/c.png') }}" class="icon" title="C">`;
                if (letter == "d") icons += `<img src="{{ url_for('static', filename='img/users/d.png') }}" class="icon" title="D">`;
                newStudent.innerHTML = icons + studentList[student].name;
                let newDetails = document.createElement('span');
                newDetails.classList.add('user');
                if (studentList[student].excluded) {
                    newStudent.style.background = "var(--highlight-color)";
                    newDetails.innerHTML += "Taking a bathroom break <button class='inline popOut' onclick='request.open(\"GET\", \"/break?action=end&name=" + studentList[student].name + "\");  request.send();'>End break</button><br>";
                }
                let studentPerms = studentList[student]['perms'];
                newDetails.innerHTML +=
                    `
                    <select onchange="updatePerm(this)" id="userpermsDrop" name="userpermsDrop">
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=0" ${studentPerms === 0 ? "selected" : ""}>${permNames[0]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=1" ${studentPerms === 1 ? "selected" : ""}>${permNames[1]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=2" ${studentPerms === 2 ? "selected" : ""}>${permNames[2]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=3" ${studentPerms === 3 ? "selected" : ""}>${permNames[3]}</option>
                    </select>
                    `
                //Check the results of the student's current progress bar
                if (studentList[student]['progress'] && studentList[student]['progress'].length) {
                    let dotbox = document.createElement('div');
                    dotbox.style.styleFloat = 'right';
                    dotbox.style.cssFloat = 'right';
                    let newProg = 0;
                    let newProgMax = 0;
                    for (let i = 0; i < studentList[student]['progress'].length; i++) {
                        newProgMax++;
                        var img = document.createElement("img");
                        img.width = 16;
                        img.height = 16;
                        if (studentList[student]['progress'][i]) {
                          newProg++;
                          img.src = "{{ url_for('static', filename='img/dot_green.png') }}";
                        } else {
                          img.src = "{{ url_for('static', filename='img/dot_red.png') }}";
                        }
                        dotbox.appendChild(img)
                    }
                    newStudent.appendChild(dotbox)
                    newDetails.innerHTML += ` [Prog: ${newProg}/${newProgMax}]`
                }
                //Get the results of the student's current quiz
                if (studentList[student]['quizRes'] && studentList[student]['quizRes'].length) {
                  let dotbox = document.createElement('div');
                  dotbox.style.styleFloat = 'right';
                  dotbox.style.cssFloat = 'right';
                    let newQuiz = 0;
                    let newQuizMax = 0;
                    for (let i = 0; i < studentList[student]['quizRes'].length; i++) {
                        newQuizMax++;
                        if (studentList[student]['quizRes'][i]) {
                          var img = document.createElement("img");
                          img.width = 16;
                          img.height = 16;
                          if (studentList[student]['quizRes'][i]) {
                            newQuiz++;
                            img.src = "{{ url_for('static', filename='img/dot_green.png') }}"; ////These need to be updated
                          } else {
                            img.src = "{{ url_for('static', filename='img/dot_red.png') }}"; ////
                          }
                          dotbox.appendChild(img)
                    }
                  }
                    newDetails.innerHTML += ` [Quiz: ${newQuiz}/${newQuizMax}]`
                }
                studentBox.appendChild(newStudent)
                studentBox.appendChild(newDetails)
                newDetails.innerHTML += "	&nbsp; ";
                newDetails.innerHTML += `<a href="users?name=${studentList[student]['name']}&action=kick">Remove</a>`;
                newDetails.innerHTML += "	&nbsp; ";
                newDetails.innerHTML += `<a href="#" onclick="banip('${studentList[student]['name']}')">Ban Device</a>`;
                if (studentList[student]['help'] == true) {
                  newDetails.innerHTML += "	&nbsp; ";
                  newDetails.innerHTML += `<a href=\'/needshelp?remove=${studentList[student]['name']}\'>Clear Help</a>`;
                }
                newDetails.innerHTML += "<br><br>";
            }
        }
    }, 1000);

    function updatePerm(el) {
        let request = new XMLHttpRequest();
        console.log(el.value);
        request.open("GET", el.value);
        request.onload = function() {
            console.log(request.response);
        };
        request.send();
    }
</script>
{% endblock %}
