{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar User List{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{% endblock %}

<!-- Extra javascript here -->
{% block script %}
<script type="text/javascript">
    let studentData;
    let oldStudentData;
    let permNames = ['Teacher', 'Assistant', 'Student', 'Guest']

    function checkUpdates(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.onload = function() {
            studentData = xhr.response;
        };
        xhr.send();
    }
    setInterval(function() {
        checkUpdates('/getstudents');
        if (studentData != oldStudentData) {
            oldStudentData = studentData;
            let studentList = JSON.parse(studentData);
            let studentBox = document.getElementById('students');
            studentBox.innerHTML = '';
            for (student in studentList) {
                let newStudent = document.createElement('div');
                newStudent.classList.add('student');
                newStudent.innerHTML = studentList[student].name;
                newStudent.innerHTML += "	&nbsp; ";
                newStudent.innerHTML += permNames[studentList[student]['perms']];
                newStudent.innerHTML += "	&nbsp; ";
                newStudent.innerHTML += `<a href="users?name=${studentList[student]['name']}&action=kick">Kick</a>`;
                newStudent.innerHTML +=
                    `
                <select onchange="updatePerm(this)" id="userpermsDrop" name="userpermsDrop">
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=0">${permNames[0]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=1">${permNames[1]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=2">${permNames[2]}</option>
                    <option value="/users?name=${studentList[student]['name']}&action=perm&perm=3" selected="selected">${permNames[3]}</option>
                </select>`
                studentBox.appendChild(newStudent)
            }
        }
    }, 1000);

    function updatePerm(el) {
        let request = new XMLHttpRequest();
        console.log(el.value);
        request.open("GET", el.value);
        request.onload = function() {
            console.log(request.response);
        };
        request.send();
    }
</script>
{% endblock %}

<!-- Main content here -->
{% block main %}
<h1 style="color: blue">Users</h1>
<div id="students">
</div>
{% endblock %}
