{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Virtual bar{% endblock %}

<!-- Extra style declarations here -->
{% block style %}

{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}


<div class="container"></div>
<canvas id='virtualbar' style="height:900px; width:969px"></canvas>


{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  
  var mychart = document.getElementById('virtualbar').getContext("2d");
 
  var doughnutChart = new Chart(mychart, {
    type: 'doughnut',
    data: {
      labels: ["Up", "Wiggle", "Down"],
      datasets: [{
        backgroundColor: [
          "#00ff00",
          "#00ffff",
          "#ff0000"],
        data: [0, 0, 0]
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          labels: {
            font: {
              size: 50
            },
            color: 'white'
          }


        }
      }
    }
  });
  
  
  
  let pixRes;

  function update() {
    // Update the virtual bar
    let pixRequest = new XMLHttpRequest();
    pixRequest.open("GET", '/api/students');
    pixRequest.onload = () => {
      pixRes = JSON.parse(pixRequest.responseText);

      var up = 0
      var wiggle = 0
      var down = 0


      for (const key of Object.keys(pixRes)) {
        console.log(pixRes[key].thumb);
        console.log(pixRes[key].perms);
        if(pixRes[key].perms < 2){
          console.log('Teacher');
        } else if (pixRes[key].perms > 0){

          if (pixRes[key].thumb == "up") {
            up++
            console.log('found up');
          }
          
          if (pixRes[key].thumb == "wiggle") {
            wiggle++
            console.log('found wiggle');
          }
          
          if (pixRes[key].thumb == "down") {
            down++
            console.log('found down');
          }
        }
          
      }
      doughnutChart.data.datasets[0].data = [up, wiggle, down];
      doughnutChart.update();
    }
  pixRequest.send(null);
  }


    // When the page needs to refresh, send a signal to chat which will then refresh everyone's page
    chatSocket.on("sessionUpdate", message => {
      console.log("message");
      location.reload('/virtualbar');
    });


  update();
  setInterval(update, 1000);
</script>
{% endblock %}

